$mobile-portrait-max-width: 21.5em;
$mobile-max-width: 37.5em;
$tablet-max-width: 50em;
$desktop-max-width: 70em;

@mixin breakpoint($point) {
	@if $point == desktop {
		@media (max-width: $desktop-max-width) { @content; }
	} @else if $point == tablet {
		@media (max-width: $tablet-max-width) { @content; }
	} @else if $point == mobile {
		@media (max-width: $mobile-max-width) { @content; }
	} @else if $point == mobileportrait {
		@media (max-width: $mobile-portrait-max-width) { @content; }
	}
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	width: 100% !important;
	height: 100% !important;

	&:before {
		padding-top: ($height / $width) * 100%;
	}
}

//Components
@import "{}/imports/ui/stylesheets/variables.scss";
@import "{}/imports/ui/stylesheets/animations.scss";
@import "{}/imports/ui/stylesheets/button.scss";
@import "{}/imports/ui/stylesheets/form.scss";
@import "{}/imports/ui/stylesheets/table-list.scss";

@mixin mask {
	background: rgba($background-color, .95);
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 1000;
	-webkit-backface-visibility: hidden;
}

//Pages
@import "{}/imports/ui/pages/app.scss";
@import "{}/imports/ui/pages/game.scss";
@import "{}/imports/ui/pages/reaction.scss";
@import "{}/imports/ui/pages/home.scss";
@import "{}/imports/ui/pages/lightbox.scss";
@import "{}/imports/ui/pages/loading.scss";
@import "{}/imports/ui/pages/login.scss";
@import "{}/imports/ui/pages/rank.scss";
@import "{}/imports/ui/pages/shapeSelector.scss";
@import "{}/imports/ui/pages/testEnvironment.scss";

html, body {
	height: 100%;
	min-height: 100%;
	min-width: 330px;
	padding: 0;
	margin: 0;
}

body {
	background: $background-color;
	color: $text-color;
	font-family: 'Oxygen', sans-serif;
	cursor: default;
	font-size: 16px;
	letter-spacing: .04em;
}

a {
	text-decoration: none;
	color: inherit;

	& + & {
		margin-left: 15px;
	}
}

h1 {
	font-size: 1.5em;
}

.hidden {
	display: none;
}

p {
	margin: 16px 0;
}

.elo-rating-statistic {
	display: flex;
}

.elo-rating-change-container {
	margin-left: 5px;
	font-size: 10px;
}

.elo-rating-change-container i.fa {
	font-size: 10px;
	vertical-align: middle;
}

.elo-rating-positive {
	color: $positive;
}

.elo-rating-negative {
	color: $negative;
}

.maximum-responsive-width {
	flex: 1 1 auto;
	min-width: 275px;
	max-width: 750px;
}
