$mobile-portrait-max-width: 25.9em;
$mobile-max-width: 37.5em;
$tablet-max-width: 45em;
$desktop-max-width: 70em;

@mixin horizontal-breakpoint($point) {
	@if $point == desktop {
		@media (max-width: $desktop-max-width) { @content; }
	} @else if $point == tablet {
		@media (max-width: $tablet-max-width) { @content; }
	} @else if $point == mobile {
		@media (max-width: $mobile-max-width) { @content; }
	} @else if $point == mobileportrait {
		@media (max-width: $mobile-portrait-max-width) { @content; }
	}
}

$mobile-portrait-max-height: 37.5em;
$mobile-max-height: 21.5em;
$tablet-max-height: 45em;
$desktop-max-height: 70em;

@mixin vertical-breakpoint($point) {
	@if $point == desktop {
		@media (max-height: $desktop-max-height) { @content; }
	} @else if $point == tablet {
		@media (max-height: $tablet-max-height) { @content; }
	} @else if $point == mobile {
		@media (max-height: $mobile-max-height) { @content; }
	} @else if $point == mobileportrait {
		@media (max-height: $mobile-portrait-max-height) { @content; }
	}
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	width: 100% !important;
	height: 100% !important;

	&:before {
		padding-top: ($height / $width) * 100%;
	}
}

//Components
@import "{}/imports/ui/stylesheets/variables.scss";
@import "{}/imports/ui/stylesheets/animations.scss";
@import "{}/imports/ui/stylesheets/button.scss";
@import "{}/imports/ui/stylesheets/form.scss";
@import "{}/imports/ui/stylesheets/cards.scss";
@import "{}/imports/ui/stylesheets/table-list.scss";
@import "{}/imports/ui/stylesheets/view-selector.scss";

@mixin mask {
	background: rgba($background-color, .95);
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 1000;
	-webkit-backface-visibility: hidden;
}

@mixin menubox() {
	background: $selectbox-background-color;
	color: $text-color;
	box-shadow: $background-color-darker 0 3px 5px 0;
	transition: max-height 0.25s ease-in-out;
	overflow: hidden;

	&.menubox-animation {
		max-height: 0;
	}
}

//Pages
@import "{}/imports/ui/components/lightbox.scss";
@import "{}/imports/ui/components/loading.scss";
@import "{}/imports/ui/components/shapeSelector.scss";
@import "{}/imports/ui/components/weakConnection.scss";
@import "{}/imports/ui/views/achievementPopup.scss";
@import "{}/imports/ui/views/achievements.scss";
@import "{}/imports/ui/views/afterGame.scss";
@import "{}/imports/ui/views/gameCanvas.scss";
@import "{}/imports/ui/views/gameSetup.scss";
@import "{}/imports/ui/views/privacyPolicy.scss";
@import "{}/imports/ui/views/reactions.scss";
@import "{}/imports/ui/views/reactionsList.scss";
@import "{}/imports/ui/views/recentGames.scss";
@import "{}/imports/ui/views/statistics.scss";
@import "{}/imports/ui/views/userProfileComponent.scss";
@import "{}/imports/ui/pages/app.scss";
@import "{}/imports/ui/pages/help.scss";
@import "{}/imports/ui/pages/home.scss";
@import "{}/imports/ui/pages/keymaps.scss";
@import "{}/imports/ui/pages/login.scss";
@import "{}/imports/ui/pages/rank.scss";
@import "{}/imports/ui/pages/skins.scss";
@import "{}/imports/ui/pages/tournament.scss";

html, body {
	height: 100%;
	min-height: 100%;
	min-width: 300px;
	padding: 0;
	margin: 0;
}

body {
	background: $background-color;
	color: $text-color;
	font-family: 'Oxygen', sans-serif;
	cursor: default;
	font-size: 16px;
	letter-spacing: .04em;
}

body.active-lightbox {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;

	& + & {
		margin-left: 15px;
	}
}

h1 {
	position: relative;
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
	color: lighten($text-color, 15%);
}

.back-button {
	position: absolute;
	left: 0;
	transition: opacity .2s ease-in-out;
	opacity: .25;

	&:hover {
		opacity: 1;
	}
}

.hidden {
	display: none;
}

p {
	margin: 16px 0;
}

.elo-rating-statistic {
	display: flex;
}

.elo-rating-change-container {
	margin-left: 5px;
	font-size: 10px;
}

.elo-rating-change-container i.fa {
	font-size: 10px;
	vertical-align: middle;
}

.elo-rating-positive {
	color: $positive;
}

.elo-rating-negative {
	color: $negative;
}

.warning-message {
	border: 1px darken($negative, 10%) solid;
	border-radius: 2px;
	background: lighten($negative, 20%);
	margin-bottom: 10px;

	p {
		margin: 10px;
	}
}

.loading-icon {
}

.maximum-responsive-width {
	flex: 1 1 auto;
	min-width: 275px;
	max-width: 750px;
}

.constrained-width {
	min-width: 350px;
	max-width: 450px;

	@include horizontal-breakpoint(mobile) {
		min-width: 275px;
		padding: 0 2px;
	}
}

.games-list-header {
	display: flex;
	justify-content: center;

	div + div {
		margin-left: 5px;
	}

	.create-game-button {
		font-size: 18px;
		cursor: pointer;

		&:hover {
			color: $text-color;
		}
	}
}

.tournament-game-cell {
	position: relative;

	& > div {
		transform: scale(0.63);
		position: absolute;
		right: -7px;
		top: -3px;
		opacity: 0.15;

		.tournament-game-icon {
			background-image: url("/assets/tournament-icon.png");
			width: 100px;
			height: 100px;
			right: 0;
			top: 0;
			position: absolute;
		}
	}
}

.statistics-item {
	padding: 10px 15px;
	margin: 0 20px 30px;
	min-width: 115px;
	text-align: center;
	border-left: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

	@include horizontal-breakpoint(mobile) {
		padding: 15px 0;
		margin-bottom: 0;
		border-top: 1px solid $border-color;
		border-left: 0;
		border-bottom: 0;
	}

	& .statistics-item-data {
		font-size: 25px;
	}

	& .statistics-item-title {
		font-size: 10px;
	}

	&.elo-rating-statistic {
		justify-content: center;

		& .statistics-item-data {
			display: flex;
		}
	}

	&:hover {
		background: lighten($background-color, 1%);
	}
}

.user-profile-link {
	border-style: dashed;
	border-width: 0 0 1px 0;
	border-color: rgba(lighten($text-color, 25%), .4);
	padding-bottom: 2px;
	transition: all 0.25s linear;

	&:hover {
		border-color: rgba(lighten($text-color, 25%), 1);
	}
}

.switch-containers {
	display: flex;

	& > div {
		flex: 1 0 0;
		text-align: left;
	}

	.switch-label {
		display: inline-block;
	}
}
