.app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

$logo-height: 40px;
$small-logo-height: 25px;

.app-header {
	position: fixed;
	z-index: 2;
	background: $header-background-color;
	color: $header-text-color;
	width: 100%;
	box-sizing: border-box;
	flex: 0 0 auto;
	top: 0;
	display: flex;
	align-items: center;
	border-bottom: 4px solid $header-border-bottom-color;
	max-height: 55px;

	@include horizontal-breakpoint(tablet) {
		max-height: 40px;
	}

	.app-title {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: 5px 0;

		@include horizontal-breakpoint(mobile) {
			display: none;
		}

		.volemon-logo {
			width: $logo-height;
			height: $logo-height;

			@include horizontal-breakpoint(tablet) {
				width: $small-logo-height;
				height: $small-logo-height;
			}
		}

		.logo-shifter {
			position: relative;
			overflow: hidden;
			height: $logo-height;
			text-align: center;

			@include horizontal-breakpoint(tablet) {
				height: $small-logo-height;
			}

			em {
				position: absolute;
				height: $logo-height;
				transition: 0.25s ease-in-out;
				left: 0;
				right: 0;
			}

			& > :first-child {
				top: 0;
			}

			& > :last-child {
				top: $logo-height;
				font-weight: 900;
				font-style: normal;
				line-height: $logo-height + 5px;
				color: $header-logo-color;

				@include horizontal-breakpoint(tablet) {
					line-height: $small-logo-height + 5px;
				}

				.v-logo {
					height: 20px;
					width: 20px;
				}
			}
		}
	}
}

.app-header-section {
	display: block;
	text-align: center;
	box-sizing: border-box;
	height: 50px;
	z-index: 5;

	@include horizontal-breakpoint(tablet) {
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: stretch;
	}

	&.app-header-section-button {
		font-size: 8px;
		white-space: nowrap;
		text-align: center;
		width: 80px;
		min-width: 80px;

		@include horizontal-breakpoint(tablet) {
			width: 50px;
			min-width: 50px;

			.app-header-button-title {
				display: none;
			}
		}

		& > a {
			display: block;
			flex: 1 0 0;
			padding: 8px;

			@include horizontal-breakpoint(tablet) {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 2px;
			}

			&:hover {
				color: $header-text-color-light;
			}
		}

		i.menu-icon {
			font-size: 22px;
			display: block;
			margin-bottom: 2px;

			&.icomoon {
				font-size: 21px;
				margin-bottom: 3px;
			}
		}
	}

	&.app-header-section-menu {
		position: relative;
	}

	&.app-header-section-button, &.app-header-section-menu {
		background-color: #ffffff;

		@include horizontal-breakpoint(mobileportrait) {
			width: initial;
			min-width: initial;
			flex: 1 1 0;
		}
	}

	a {
		cursor: pointer;
	}

	&.app-header-empty-section {
		flex: 1 1 auto;

		@include horizontal-breakpoint(mobileportrait) {
			display: none;
		}
	}

	& + &, &:first-of-type {
		border-right: 1px solid $header-border-color;
	}

	&:last-of-type {
		border-right: 0;
	}
}

.app-main {
	flex: 1 1 auto;
	display: flex;
	align-content: stretch;
	flex-direction: column;
	position: relative;
	margin: 0 20px;
	margin-top: 54px;

	@include horizontal-breakpoint(tablet) {
		margin-top: 39px;
	}
}

.app-section {
	flex: 0 0 auto;
	flex-direction: row;
	display: flex;
	justify-content: center;
	overflow: visible;
	box-sizing: border-box;
	text-align: center;

	&.app-section-min-width .app-section-inner {
		min-width: 300px;

		@include horizontal-breakpoint(mobileportrait) {
			min-width: 250px;
		}
	}

	&.app-section-center {
		align-items: center;
	}

	&.app-section-top {
		align-items: flex-start;
	}
}

.app-section-top .app-section-inner {
	margin-top: 10px;
	margin-bottom: 25px;
}

.clickable-link {
	$link-color: darken($header-logo-color, 5%);
	color: $link-color;
	cursor: pointer;
	transition: all 100ms linear;

	&:hover {
		color: lighten($link-color, 10%);
	}
}

.button + .button {
	margin-left: 5px;
}

.small-icon {
	font-size: 12px;
	line-height: 20px;
	vertical-align: top;
}

.username-header {
	flex: 1 0 0;
	display: flex;

	.username-header-menu {
		white-space: nowrap;
		flex: 1 0 0;
		display: flex;

		& > a {
			padding: 15px 20px;

			&:hover {
				color: $header-text-color-light;
			}

			@include horizontal-breakpoint(tablet) {
				padding: 7px 20px;
			}

			@include horizontal-breakpoint(mobileportrait) {
				padding: 5px 20px;
				flex: 1 0 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.logged-in-user-menu {
			display: none;

			@include horizontal-breakpoint(mobileportrait) {
				display: block;
			}

			& i.menu-icon {
				font-size: 22px;
				margin-bottom: 2px;
			}
		}

		.logged-in-user-name-menu {
			@include horizontal-breakpoint(mobileportrait) {
				display: none;
			}
		}
	}

	.log-in-menu {
		display: none;

		@include horizontal-breakpoint(mobileportrait) {
			display: block;
		}

		& i.menu-icon {
			font-size: 22px;
			margin-bottom: 2px;
		}
	}

	.log-in-text-menu {
		@include horizontal-breakpoint(mobileportrait) {
			display: none;
		}
	}
}

.user-currently-playing {
	@include horizontal-breakpoint(mobile) {
		.app-header {
			max-height: 0;
		}

		.app-header-section {
			height: 0;
			overflow: hidden;
		}
	}

	.username-header-menu {
		color: rgba(lighten($header-text-color, 15%), 0.8);
		text-shadow: 1px 1px 0 lighten($header-text-color, 30%);

		& > a {
			cursor: default;
		}
	}
}

.username-header-menu .username-dialog {
	display: none;
	position: absolute;
	right: 0;
	padding: 5px 0;
	top: 50px;
	max-height: 200px;
	width: 100%;
	min-width: 110px;
	border-bottom: 4px solid $header-border-bottom-color;
	@include menubox;

	@include horizontal-breakpoint(tablet) {
		top: 35px;
	}
}

.username-dialog {
	.username-dialog-button {
		display: block;
		cursor: pointer;
		text-align: right;
		padding: 5px 15px;
		white-space: nowrap;

		&:hover {
			background: $selectbox-background-color-hover;
		}
	}
}

.tooltip-element {
	display: none;
}

.tooltip {
	$arrow-size: 5px;
	$tooltip-color: rgba($text-color, 0.8);

	z-index: 1001;
	pointer-events: none;
	opacity: 0;
	font-weight: 500;
	text-align: center;
	font-size: 13px;
	transition: opacity 0.25s ease-in-out;

	.inner {
		background-color: $tooltip-color;
		color: $header-background-color;
		border-radius: 4px;
		padding: 3px 10px;
	}

	&.hide {
		opacity: 0;
	}

	&.show {
		opacity: 1;
	}

	// CSS arrow
	.inner::after {
		content: "";
		display: block;
		bottom: -$arrow-size*2;
		left: calc(50% - #{$arrow-size});
		width: 0;
		height: 0;
		border: $arrow-size solid;
		border-color: $tooltip-color transparent transparent;
		position: absolute;
	}

	&.tooltip--left .inner {
		box-shadow: rgba($text-color, 0.1) -1px 1px 1px;

		&::after {
			right: -$arrow-size*2;
			left: auto;
			bottom: calc(50% - #{$arrow-size});
			border-color: transparent transparent transparent $tooltip-color;
		}
	}

	&.tooltip--right .inner {
		box-shadow: rgba($text-color, 0.1) 1px 1px 1px;

		&::after {
			left: -$arrow-size*2;
			bottom: calc(50% - #{$arrow-size});
			border-color: transparent $tooltip-color transparent transparent;
		}
	}

	&.tooltip--bottom .inner::after {
		top: -$arrow-size*2;
		bottom: auto;
		border-color: transparent transparent $tooltip-color transparent;
	}
}

@media (min-width: $tablet-max-width) {
	.app-header:hover {
		.app-title {
			.logo-shifter {
				& > :first-child {
					top: -40px;
				}
				& > :last-child {
					top: 0;
				}
			}
		}
	}
}
