.app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app-header {
	background: $header-background-color;
	color: $header-text-color;
	width: 100%;
	box-sizing: border-box;
	flex: 0 0 auto;
	top: 0;
	display: flex;
	align-items: center;
	border-bottom: 4px solid $header-border-bottom-color;
	position: relative;
	max-height: 55px;

	@include breakpoint(tablet) {
		max-height: 40px;
	}

	.app-title {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: 5px 0;

		@include breakpoint(mobile) {
			display: none;
		}

		.volemon-logo {
			width: 40px;
			height: 40px;

			@include breakpoint(tablet) {
				width: 25px;
				height: 25px;
			}
		}

		.logo-shifter {
			position: relative;
			overflow: hidden;
			height: 40px;
			text-align: center;

			@include breakpoint(tablet) {
				height: 25px;
			}

			em {
				position: absolute;
				height: 40px;
				transition: 0.25s ease-in-out;
				left: 0;
				right: 0;
			}

			& > :first-child {
				top: 0;
			}

			& > :last-child {
				top: 40px;
				font-weight: 900;
				font-style: normal;
				line-height: 45px;
				color: $header-logo-color;

				.v-logo {
					height: 20px;
					width: 20px;
				}
			}
		}
	}
}

.app-header-section {
	display: block;
	text-align: center;
	box-sizing: border-box;
	padding: 15px 20px;
	min-height: 50px;
	z-index: 5;

	@include breakpoint(tablet) {
		min-height: 35px;
		padding: 15px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.app-header-section-button {
		font-size: 8px;
		white-space: nowrap;
		text-align: center;
		width: 80px;
		min-width: 80px;
		padding: 8px;

		@include breakpoint(tablet) {
			width: 50px;
			min-width: 50px;
			padding: 2px;

			.app-header-button-title {
				display: none;
			}
		}

		i.fa {
			font-size: 22px;
			display: block;
			margin-bottom: 2px;
		}
	}

	&.app-header-section-menu {
		position: relative;

		@include breakpoint(tablet) {
			padding: 7px 20px;
		}
	}

	&.app-header-section-button, &.app-header-section-menu {
		background-color: #ffffff;

		@include breakpoint(mobileportrait) {
			width: initial;
			min-width: initial;
			padding: 2px;
			flex: 1 1 0;
		}
	}

	a {
		cursor: pointer;

		&:hover {
			color: $header-text-color-light;
		}
	}

	&.app-header-empty-section {
		flex: 1 1 auto;

		@include breakpoint(mobileportrait) {
			display: none;
		}
	}

	& + &, &:first-of-type {
		border-right: 1px solid $header-border-color;
	}

	&:last-of-type {
		border-right: 0;
	}
}

.app-main {
	flex: 1 1 auto;
	display: flex;
	align-content: stretch;
	flex-direction: column;
	position: relative;
	margin: 0 20px;
}

.app-section {
	flex: 1 0 auto;
	flex-direction: row;
	display: flex;
	justify-content: center;
	overflow: auto;
	box-sizing: border-box;
	text-align: center;

	&.app-section-center {
		align-items: center;
	}

	&.app-section-top {
		align-items: flex-start;
	}
}

.app-section-top .app-section-inner {
	margin-top: 10px;
}

.clickable-link {
	text-decoration: underline;
	cursor: pointer;
}

.button + .button {
	margin-left: 5px;
}

.small-icon {
	font-size: 12px;
	line-height: 20px;
	vertical-align: top;
}

.username-header {
	.username-header-menu {
		white-space: nowrap;

		&.disabled-menu {
			color: rgba(lighten($header-text-color, 15%), 0.8);
			text-shadow: 1px 1px 0 lighten($header-text-color, 30%);

			& > a {
				cursor: default;
			}
		}

		.logged-in-user-menu {
			display: none;

			@include breakpoint(mobileportrait) {
				display: block;
			}

			& i.fa {
				font-size: 22px;
				margin-bottom: 2px;
			}
		}

		.logged-in-user-name-menu {
			@include breakpoint(mobileportrait) {
				display: none;
			}
		}
	}

	.log-in-menu {
		display: none;

		@include breakpoint(mobileportrait) {
			display: block;
		}

		& i.fa {
			font-size: 22px;
			margin-bottom: 2px;
		}
	}

	.log-in-text-menu {
		@include breakpoint(mobileportrait) {
			display: none;
		}
	}
}

.username-header-menu .username-dialog {
	display: none;
	position: absolute;
	right: 10px;
	background: $header-username-dialog-background-color;
	color: $text-color;
	padding: 5px 0;
	top: 50px;
	box-shadow: $background-color-darker 0 3px 5px 0;

	@include breakpoint(tablet) {
		top: 35px;
	}
}

.username-dialog .username-dialog-button {
	cursor: pointer;
	text-align: right;
	padding: 5px 15px;
	white-space: nowrap;

	&:hover {
		background: $header-username-dialog-background-color-hover;
	}
}

.tooltip-element {
	display: none;
}

.tooltip {
	$arrow-size: 5px;
	$tooltip-color: rgba($text-color, .8);

	z-index: 1001;
	pointer-events: none;
	opacity: 0;
	font-weight: 500;
	text-align: center;
	font-size: 13px;
	transition: opacity 0.25s ease-in-out;

	.inner {
		background-color: $tooltip-color;
		color: $header-background-color;
		border-radius: 4px;
		padding: 3px 10px;
	}

	&.hide {
		opacity: 0;
	}

	&.show {
		opacity: 1;
	}

	// CSS arrow
	.inner::after {
		content: "";
		display: block;
		bottom: -$arrow-size*2;
		left: calc(50% - #{$arrow-size});
		width: 0;
		height: 0;
		border: $arrow-size solid;
		border-color: $tooltip-color transparent transparent;
		position: absolute;
	}

	&.tooltip--left .inner {
		box-shadow: rgba($text-color, .1) -1px 1px 1px;

		&::after {
			right: -$arrow-size*2;
			left: auto;
			bottom: calc(50% - #{$arrow-size});
			border-color: transparent transparent transparent $tooltip-color;
		}
	}

	&.tooltip--right .inner {
		box-shadow: rgba($text-color, .1) 1px 1px 1px;

		&::after {
			left: -$arrow-size*2;
			bottom: calc(50% - #{$arrow-size});
			border-color: transparent $tooltip-color transparent transparent;
		}
	}

	&.tooltip--bottom .inner::after {
		top: -$arrow-size*2;
		bottom: auto;
		border-color: transparent transparent $tooltip-color transparent;
	}
}

@media (min-width: $tablet-max-width) {
	.app-header:hover {
		.app-title {
			.logo-shifter {
				& > :first-child {
					top: -40px;
				}
				& > :last-child {
					top: 0;
				}
			}
		}
	}
}
