.game-container {
	position: relative;
	margin: 0 35px 0;
}

.players-names-container, .players-points-container {
	position: absolute;
	width: 100%;
	margin: 10px 0 0;
	z-index: 1;

	.host-player {
		color: $host-color;
	}

	.client-player {
		color: $client-color;
	}

	& > div {
		display: flex;
		flex-direction: row;
	}

	.players-names {
		margin: 0 0 -20px 0;

		& > div {
			flex: 1 1 auto;
			flex-basis: 0;
			text-align: center;
			padding: 0 45px;
			overflow-x: hidden;
			text-overflow: ellipsis;
		}
	}

	.players-points {
		margin: 0;
		font-family: 'Oxygen Mono', sans-serif;
		justify-content: center;

		& > div {
			margin: 0 5px;
		}
	}
}

.timers-container {
	position: absolute;
	width: 100%;
	margin: 35px 0 0;
	font-family: 'Oxygen Mono', sans-serif;
	text-align: center;
	z-index: 1;

	& > div {
		left: 0;
		right: 0;
	}

	.point-timer {
		font-size: 10px;
	}
}

.viewers-container {
	position: absolute;
	width: 100%;
	text-align: right;
	z-index: 2;

	span {
		font-size: 12px;
		font-family: 'Oxygen Mono', sans-serif;
		margin: 5px;
		opacity: 0.65;

		i {
			font-size: 14px;
			margin-left: 3px;
		}

		&:hover {
			opacity: 1;
		}
	}
}

@keyframes loop-opacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#gameContainer {
	$match-point-color: lighten($negative, 20%);
	$deuce-point-color: lighten($negative, 15%);

	&.match-point-frame::before, &.deuce-point-frame::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		@include horizontal-breakpoint(tablet) {
			//z-index: auto;
		}
		opacity: 0;
		width: 100%;
		height: 100%;
		animation: loop-opacity 1.5s infinite;
	}

	&.match-point-frame::before {
		box-shadow: inset 0 0 30px 0 $match-point-color, 0 0 20px 0 $match-point-color;
	}

	&.deuce-point-frame::before {
		box-shadow: inset 0 0 60px 0 $deuce-point-color, 0 0 40px 0 $deuce-point-color;
	}

	canvas {
		margin: 10px auto 30px;
		@include aspect-ratio(45, 30);
	}
}

.expand-extra-big-game-size {
	display: none;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	opacity: 0.25;
	cursor: pointer;
	overflow: hidden;

	&:hover {
		opacity: 0.5;
	}
}

@media (min-width: 1325px) and (min-height: 910px) {
	.expand-extra-big-game-size {
		display: block;
		z-index: 2;

		& > .fa {
			font-size: 25px;
		}
	}

	.fa.expand-extra-big-game-size-expand {
		display: block;
	}

	.fa.expand-extra-big-game-size-compress {
		display:none;
	}

	.game-container.extra-big-game-size {
		#gameContainer canvas {
			width: 1260px !important;
			height: 840px !important;
		}

		.expand-extra-big-game-size > .fa {
			font-size: 35px;
		}

		.fa.expand-extra-big-game-size-expand {
			display: none;
		}

		.fa.expand-extra-big-game-size-compress {
			display: block;
		}
	}
}

@mixin connection-indicator-light-look($color) {
	background-color: $color;
	box-shadow: 0 0 10px 0 rgba($color, 0.4),
		inset 1px 1px 2px 1px rgba(white, 0.3),
		inset -1px -1px 2px 1px rgba(black ,0.3);
}

.connection-indicator {
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 1;

	@include horizontal-breakpoint(tablet) {
		bottom: -20px;
		right: 5px;
	}

	.connection-indicator-light {
		width: 10px;
		height: 10px;
		border-radius: 10px;
		border: solid 1px darken($background-color, 50%);

		&.connection-indicator-light-green {
			@include connection-indicator-light-look(lighten($positive, 10%));
		}
		&.connection-indicator-light-yellow {
			@include connection-indicator-light-look(lighten(yellow, 10%));
		}
		&.connection-indicator-light-red {
			@include connection-indicator-light-look(lighten($negative, 7.5%));
		}
		&.connection-indicator-light-gray {
			@include connection-indicator-light-look(lighten($background-color, 10%));
		}
	}
}
