@include view-selector-shown(help-controls-shown, view-help-controls, help-controls);
@include view-selector-shown(help-bonuses-shown, view-help-bonuses, help-bonuses);
@include view-selector-shown(help-reactions-shown, view-help-reactions, help-reactions);

$bonus-size: 34px;
$bonus-background-size: $bonus-size - 3;

.help-section {
	@include horizontal-breakpoint(mobile) {
		max-width: 375px;
	}
	@include horizontal-breakpoint(mobileportrait) {
		max-width: 275px;
	}

	img {
		box-shadow: 0 0 15px 0 lighten($background-color, 10%);
		width: 285px;
		height: 200px;

		@include horizontal-breakpoint(mobileportrait) {
			width: 250px;
			height: 175px;
		}
	}
}

.help-bonus {
	display: flex;
	align-items: center;
	margin-bottom: 5px;

	.help-bonus-icon-container {
		position: relative;
		width: $bonus-size;
		height: $bonus-size;
		background-image: url("/assets/bonus/texture-atlas.png");
	}

	.help-bonus-description {
		flex: 1;
		margin-left: 10px;
		text-align: left;
	}
}

.help-reactions {
	.reaction-list {
		margin: 36px 0 16px;
	}
}
