.home-display-selection {
	margin-bottom: 10px;
	text-align: right;

	i {
		cursor: pointer;
		opacity: .25;

		& + & {
			margin-left: 10px;
		}

		&:hover {
			opacity: 1;
		}
	}
}

.home-contents {
	margin-bottom: 10px;

	.home-content {
		display: none;
	}

	&.user-statistics-shown {
		.view-user-statistics {
			opacity: 1;
		}

		.user-statistics {
			display: block;
		}
	}

	&.user-recent-games-shown {
		.view-user-recent-games {
			opacity: 1;
		}

		.user-recent-games {
			display: block;
		}
	}
}
