.keymaps-template {
	.keymap-presets {
		margin: 26px 0 16px;

		label {
			margin-right: 5px;
		}

		#keymap-presets {
			width: 100px;
		}
	}

	.table-list {
		width: 350px;
	}

	.button-cell {
		flex: 0 0 35px;
		text-align: right;

		.fa {
			cursor: pointer;
			opacity: 0.2;

			&.currently-binding {
				animation: flash linear 1s infinite;
			}

			&:hover {
				opacity: 1;
			}
		}
	}

	#keymap-info-container {
		margin: 10px 0 0;
		height: 20px;

		&.keymap-error {
			color: $negative;
		}

		&.keymap-error-shake {
			animation: appear 0.75s linear both;
		}
	}
}
