.rank-display-selection {
	margin-bottom: 10px;
	text-align: right;

	i {
		cursor: pointer;
		opacity: .25;

		& + & {
			margin-left: 10px;
		}

		&:hover {
			opacity: 1;
		}
	}
}

#rank-elo-ranking, #rank-achievements-ranking {
	min-width: 275px;

	.rank-cell {
		font-weight: 900;
		font-size: 20px;
		line-height: 20px;
	}

	.elo-rating-cell {
		display: flex;
	}
}

#rank-line-chart-display {
	.display-chart-period {
		margin-bottom: 10px;
		font-size: 14px;

		& > span {
			cursor: pointer;

			&.active {
				font-weight: bold;
			}
		}
	}
}

.rank-contents {
	margin-bottom: 10px;

	.rank-content {
		display: none;
	}

	&.rank-elo-ranking-shown {
		.view-elo-ranking {
			opacity: 1;
		}

		.rank-elo-ranking {
			display: block;
		}
	}

	&.rank-achievements-ranking-shown {
		.view-achievements-ranking {
			opacity: 1;
		}

		.rank-achievements-ranking {
			display: block;
		}
	}

	&.rank-line-chart-display-shown {
		.view-line-chart-display {
			opacity: 1;
		}

		.rank-line-chart-display {
			display: block;
		}
	}
}

.user-achievements {
	display: flex;
	align-items: center;
	padding: 5px 0;
}

.table-list-row .achievement-item {
	opacity: 0.75;
}

.table-list-row:hover .achievement-item {
	opacity: 1;
}

#rank-line-chart canvas {
	@include aspect-ratio(50, 50);
}
