.login {
	text-align: center;

	form {
		animation: appear 1s linear both;
	}

	h1 {
		margin-bottom: 30px;
	}

	p {
		margin: 10px 0;
	}

	.button {
		display: block;
		margin: 15px auto 0;
	}

	.form-switch-link {
		margin-top: 25px;

		a {
			cursor: pointer;
			font-size: 14px;
		}
	}
}

#login-form {
	display: block;
}

#create-account-form {
	display: none;
}
