.login {
	text-align: center;

	form {
		animation: appear 1s linear both;
	}

	h1 {
		margin-bottom: 30px;
	}

	p {
		margin: 10px 0;
	}

	.button {
		display: block;
		margin: 15px auto 25px;
		min-width: 80px;
	}

	.button[data-action=close-login] {
		width: 100px;
	}

	#forgot-password-email-field {
		margin-top: 10px;
	}

	.form-switch-link {
		a {
			cursor: pointer;
			font-size: 14px;
		}
	}
}

#login-form {
	display: block;
}

#forgot-password-form, #password-token-sent-form, #create-account-form {
	display: none;
}
