<template name="achievements">
	<div class="achievement-lists">
		{{#each achievements}}
			<div class="achievement-row">
				<div class="achievement-item">
					<div class="achievement-star achievement-star-level-1 {{#if achievementLevelReached ../userAchievements 1}}level-completed{{else}}level-not-completed{{/if}}">
						<i class="fa fa-star-o" aria-hidden="true"></i>
					</div>
					<div class="achievement-level-info">{{achievementLevel ../userAchievements 1}}</div>
				</div>
				<div class="achievement-item">
					<div class="achievement-star achievement-star-level-2 {{#if achievementLevelReached ../userAchievements 2}}level-completed{{else}}level-not-completed{{/if}}">
						<i class="fa fa-star-o" aria-hidden="true"></i>
					</div>
					<div class="achievement-level-info">{{achievementLevel ../userAchievements 2}}</div>
				</div>
				<div class="achievement-item">
					<div class="achievement-star achievement-star-level-3 {{#if achievementLevelReached ../userAchievements 3}}level-completed{{else}}level-not-completed{{/if}}">
						<i class="fa fa-star-o" aria-hidden="true"></i>
					</div>
					<div class="achievement-level-info">{{achievementLevel ../userAchievements 3}}</div>
				</div>
				<div class="achievement-information">
					<div class="achievement-name">
						{{name}}
						{{#if conditionalForGame }}
							<div class="conditional-achievement" data-tooltip="Not available in all game modes">*</div>
						{{/if}}
					</div>
					{{#if showDescription ../userAchievements}}
						<div class="achievement-description">
							{{description}}: {{achievementProgress ../userAchievements}}
						</div>
						{{#if showCurrentStreak ../userAchievements}}
							<div class="achievement-current-streak">
								Current streak: {{achievementCurrentStreak ../userAchievements}}
							</div>
						{{/if}}
					{{/if}}
				</div>
			</div>
		{{/each}}
	</div>
</template>
