$bronze-color: #dcb367;
$silver-color: #d8d8d8;
$gold-color: #eadc5e;

@mixin star-background($color, $color-opacity) {
	background: linear-gradient(
		45deg,
		rgba($color, $color-opacity) 0%,
		rgba($color, $color-opacity) 35%,
		rgba(lighten($color, 20%), $color-opacity) 65%,
		rgba(lighten($color, 5%), $color-opacity) 96%
	);
}

.achievement-item {
	margin: 0 10px 0 0;
	position: relative;
}

.achievement-star {
	font-size: 30px;
	background: $border-color-light;
	color: $background-color-darker;
	border: 2px solid $background-color-darker;
	border-radius: 35px;
	padding: 3px;

	&.achievement-star-level-1 {
		@include star-background($bronze-color, 0.2);
	}

	&.achievement-star-level-2 {
		@include star-background($silver-color, 0.2);
	}

	&.achievement-star-level-3 {
		@include star-background($gold-color, 0.2);
	}

	i.fa {
		border: 2px solid rgba($background-color-darker, 0.5);
		border-radius: 35px;
		padding: 5px;
	}

	&.level-completed {
		animation-duration: 2s;
		animation-iteration-count: infinite;

		&.achievement-star-level-1 {
			@include star-background($bronze-color, 1);
		}

		&.achievement-star-level-2 {
			@include star-background($silver-color, 1);
		}

		&.achievement-star-level-3 {
			@include star-background($gold-color, 1);
		}
	}

	@include horizontal-breakpoint(mobile) {
		font-size: 20px;

		i.fa {
			padding: 2px;
		}
	}
}

.achievement-level-info {
	font-size: 10px;
	color: #ffffff;
	text-shadow: 0 0 5px #000000;
	font-weight: bold;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	top: 0;
	align-items: center;
	justify-content: center;
	transition: 0.25s ease-in-out;

	&:hover {
		font-size: 22px;
	}

	@include horizontal-breakpoint(mobile) {
		&:hover {
			font-size: 18px;
		}
	}
}

.achievement-information {
	flex: 1 0 0;
	text-align: left;
	margin-left: 10px;

	.achievement-name {
		font-size: 20px;

		@include horizontal-breakpoint(mobile) {
			font-size: 15px;
		}
	}

	.achievement-description {
		font-size: 15px;
		color: lighten($text-color, 15%);

		@include horizontal-breakpoint(mobile) {
			font-size: 12px;
		}
	}

	.achievement-current-streak {
		font-size: 13px;
		color: lighten($text-color, 30%);

		@include horizontal-breakpoint(mobile) {
			font-size: 10px;
		}
	}
}

.achievement-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding: 0 10px;
}

.small-star {
	.achievement-star {
		font-size: 20px;

		i.fa {
			padding: 2px;
		}
	}

	.achievement-level-info {
		&:hover {
			font-size: 18px;
		}
	}

	.achievement-information {
		margin-left: 0;

		.achievement-name {
			font-size: 15px;
		}

		.achievement-description {
			font-size: 12px;
		}
	}
}

.conditional-achievement {
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	background-image: url("/assets/tournament-conditional.png");
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.denied-achievement-for-two-versus-two {
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	background-image: url("/assets/two-versus-two-disabled.png");
	background-size: 16px 16px;
	background-repeat: no-repeat;
}
