<template name="afterGame">
	<div id="afterGameContainer" class="after-game-container">
		<div>
			<div>
				<div class="after-game-item after-game-title">{{getAfterGameTitle}}</div>

				{{#if gameIsFinished}}
					<div id="game-statistics-contents" class="after-game-item view-selector-contents {{#if isNotAPracticeGame}}after-game-elo-scores-shown{{else}}after-game-durations-shown{{/if}}">
						<div class="view-selector swiper-selector">
							{{#if isNotAPracticeGame}}
								<i class="fa fa-arrow-circle-up view-elo-scores" data-action="view-elo-scores" data-tooltip="ELO"></i>
							{{/if}}
							<i class="fa fa-clock-o view-game-durations" data-action="view-game-durations" data-tooltip="Durations"></i>
						</div>

						<div class="swiper-container after-game-swiper-container">
							<div class="swiper-wrapper">
								{{#if isNotAPracticeGame}}
									<div class="view-selector-content swiper-slide after-game-elo-scores" data-slide="after-game-elo-scores">
										<div class="after-game-elo">
											{{#each playersCollection}}
												<div>
													<div class="player-name">{{name}}</div>
													<div>{{getPlayerEloRating this ../eloScoresCollection}}</div>
													<div>{{> eloRatingChange eloRatingChange=(getPlayerGameEloRatingChange this ../eloScoresCollection)}}</div>
												</div>
											{{/each}}
										</div>
									</div>
								{{/if}}

								<div class="view-selector-content swiper-slide after-game-durations" data-slide="after-game-durations">
									{{{gameDurations}}}
								</div>
							</div>
						</div>
					</div>
				{{/if}}

				{{#if isGamePlayer}}
					<div class="after-game-item after-game-actions">
						{{#if showOpponentDeclinedRematch}}
							<div class="rematch-declined">Your opponent declined a rematch...</div>
						{{/if}}
						{{#if showPlayerLeftTheGame}}
							<div class="rematch-declined">Your opponent left the game...</div>
						{{/if}}
						{{#if showWaitingForReply}}
							<div>Waiting for your opponent to accept...</div>
						{{/if}}
						{{#if showCreatingGame}}
							<div>Creating game...</div>
						{{/if}}
						{{#if askForRematchReply}}
							<div>
								Your opponent is asking for a rematch. Do you accept?<br />
								<a href="#" class="button" data-action="game-rematch">Yes</a>
								<a href="#" class="button" data-action="declined-game-rematch">No</a>
							</div>
						{{/if}}
						{{#if showActionAfterGame}}
							<strong>What do you want to do next?</strong>
							{{#if showAskForRematch}}
								<div><a href="#" data-action="game-rematch">Ask for a rematch</a></div>
							{{/if}}
							<div><a href="{{pathFor 'home'}}">Go to the homepage</a></div>
							{{#if isTournament}}
								<div><a href="{{pathFor 'tournament' tournamentId=this.game.tournamentId}}">Go to the tournament page</a></div>
							{{else}}
								<div><a href="{{pathFor 'rank'}}">View rank</a></div>
							{{/if}}
						{{/if}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>
