<template name="afterGame">
	<div id="afterGameContainer" class="after-game-container">
		<div>
			<div>
				<div class="after-game-item after-game-title {{afterGameColorClass}}">{{getAfterGameTitle}}</div>

				{{#if gameIsFinished}}
					<div id="game-statistics-contents" class="after-game-item view-selector-contents {{#if isNotAPracticeGame}}after-game-elo-scores-shown{{else}}after-game-durations-shown{{/if}}">
						<div class="view-selector swiper-selector">
							{{#if isNotAPracticeGame}}
								<div class="view-elo-scores" data-action="view-elo-scores">
									<i class="fa fa-arrow-circle-up"></i><span>ELO</span>
								</div>
								{{#if isTournament}}
									<div class="view-tournament-elo-scores" data-action="view-tournament-elo-scores">
										<img src="/assets/tournament-icon.png" style="height: 22px;"><span>Tournament ELO</span>
									</div>
								{{/if}}
							{{/if}}
							<div class="view-game-durations" data-action="view-game-durations">
								<i class="fa fa-clock-o"></i><span>Durations</span>
							</div>
						</div>

						<div class="swiper-container after-game-swiper-container">
							<div class="swiper-wrapper">
								{{#if isNotAPracticeGame}}
									<div class="view-selector-content swiper-slide after-game-elo-scores" data-slide="after-game-elo-scores">
										<div class="after-game-elo">
											{{#each playersList playersCollection}}
												<div>
													<div class="player-name">{{name}}</div>
													<div>{{getPlayerEloRating this ../eloScoresCollection}}</div>
													<div>{{> eloRatingChange eloRatingChange=(getPlayerGameEloRatingChange this ../eloScoresCollection)}}</div>
												</div>
											{{/each}}
										</div>
									</div>

									{{#if isTournament}}
										<div class="view-selector-content swiper-slide after-game-tournament-elo-scores" data-slide="after-game-tournament-elo-scores">
											<div class="after-game-elo">
												{{#each playersList playersCollection}}
													<div>
														<div class="player-name">{{name}}</div>
														<div>{{getPlayerEloRating this ../tournamentEloScoresCollection}}</div>
														<div>{{> eloRatingChange eloRatingChange=(getPlayerGameEloRatingChange this ../tournamentEloScoresCollection)}}</div>
													</div>
												{{/each}}
											</div>
										</div>
									{{/if}}
								{{/if}}

								<div class="view-selector-content swiper-slide after-game-durations" data-slide="after-game-durations">
									{{{gameDurations}}}
								</div>
							</div>
						</div>
					</div>
				{{/if}}

				<div class="after-game-item after-game-actions">

					{{#if isGamePlayer}}
						{{#if showOpponentDeclinedRematch}}
							<div class="rematch-declined">
								{{#each declinedRematchPlayers}}
									<div><em>{{name}}</em> declined a rematch...</div>
								{{/each}}
							</div>
						{{/if}}
						{{#if showPlayerLeftTheGame}}
							<div class="rematch-declined">
								{{#each leftTheGamePlayers}}
									<div><em>{{name}}</em> left the game...</div>
								{{/each}}
							</div>
						{{/if}}
						{{#if showWaitingForReply}}
							<div>
								{{#each waitingForReplyPlayers}}
									<div>Waiting for <em>{{name}}</em> to accept...</div>
								{{/each}}
							</div>
						{{/if}}
						{{#if showCreatingGame}}
							<div>Creating game...</div>
						{{/if}}
						{{#if askForRematchReply}}
							<div>
								{{#if isTwoVersusTwo}}
									A player is asking for a rematch.
								{{else}}
									Your opponent is asking for a rematch.
								{{/if}}
								Do you accept?<br />
								<a href="#" class="button" data-action="game-rematch">Yes</a>
								<a href="#" class="button" data-action="declined-game-rematch">No</a>
							</div>
						{{/if}}
					{{/if}}

					{{#if showActionAfterGame}}
						<strong>What do you want to do next?</strong>
						{{#if showAskForRematch}}
							<div><a href="#" class="clickable-link" data-action="game-rematch">Ask for a rematch</a></div>
						{{/if}}
						<div><a href="{{pathFor 'home'}}" class="clickable-link">Go to the homepage</a></div>
						{{#if isTournament}}
							{{#if isTournamentPractice}}
								<div><a href="{{pathFor 'tournamentAdministration' tournamentId=this.game.tournamentId}}" class="clickable-link">Go to the tournament administration page</a></div>
							{{else}}
								<div><a href="{{pathFor 'tournament' tournamentId=this.game.tournamentId}}" class="clickable-link">Go to the tournament page</a></div>
							{{/if}}
						{{else}}
							<div><a href="{{pathFor 'rank'}}" class="clickable-link">View rank</a></div>
						{{/if}}
					{{/if}}

				</div>
			</div>
		</div>
	</div>
</template>
