<template name="gameCanvas">

	<div class="game-container {{gameZoomedInClass}} {{getFinishedStatusClass}}">

		{{> loading loadingMask="gameLoadingMask"}}

		{{! Names and Points }}

		<div class="players-names-container">
			<div class="players-names">
				<div>{{{hostNames}}}</div>
				<div>{{{clientNames}}}</div>
			</div>
		</div>

		<div class="players-points-container">
			<div class="players-points">
				<div class="host-player">{{hostPoints}}</div>
				<div class="separator">|</div>
				<div class="client-player">{{clientPoints}}</div>
			</div>
		</div>

		<div class="timers-container">
			<div class="match-timer">{{matchTimer}}</div>
			<div class="point-timer">{{pointTimer}}</div>
		</div>

		{{! Game container }}

		<div id="game-container" class="page game {{classForMatchPoint}}">
			<div class="expand-extra-big-game-size" data-action="expand-extra-big-game">
				<i class="fa fa-expand expand-extra-big-game-size-expand" aria-hidden="true"></i>
				<i class="fa fa-compress expand-extra-big-game-size-compress" aria-hidden="true"></i>
			</div>
		</div>

		{{#if showAfterGame}}
			{{> afterGame game=game playersCollection=playersCollection eloScoresCollection=eloScoresCollection tournamentEloScoresCollection=tournamentEloScoresCollection}}
		{{/if}}

		<div class="viewers-container">
			{{#if hasViewer}}
				<span data-tooltip="{{viewersList}}" data-tooltip-direction="s">
					{{viewers}}<i class="fa fa-eye"></i>
				</span>
			{{/if}}
		</div>

		{{#if showReplayControls}}
			{{> gameReplayControls game=game}}
		{{/if}}

		{{> reactions isGamePlayer=isGamePlayer hasViewer=hasViewer}}

		<div class="connection-indicator">
			<div class="connection-indicator-light {{connectionClass}}" data-tooltip="{{connectionInformation}}"></div>
		</div>

	</div>

	{{#if showMobileController}}
		<div id="mobileController" class="mobile-controller">
			<div class="mobile-controller-horizontal-directions">
				<div class="mobile-controller-left"></div>
				<div class="mobile-controller-right"></div>
			</div>
			<div class="mobile-controller-vertical-directions">
				<div class="mobile-controller-up"></div>
				<div class="mobile-controller-down"></div>
			</div>
		</div>
	{{/if}}

</template>
