<template name="gameSetup">

	<div class="table-list constrained-table">
		<div class="table-list-row table-list-header">
			<div class="table-list-cell">Players</div>
			<div class="table-list-cell" style="flex: 0 0 75px;">Shape</div>
		</div>

		{{#each players}}
			<div class="table-list-row">
				<div class="table-list-cell">{{name}}</div>
				<div class="table-list-cell" style="flex: 0 0 75px;">
					<div class="shape-selector-container shape-{{selectedShape}}">
						<div class="shape-content-scroller"></div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

</template>
