<template name="reactions">
	{{#if isGamePlayer}}
		<div id="reaction-selector" class="reaction-selector" data-action="trigger-reaction-list">
			{{> reactionsList}}
		</div>
	{{/if}}

	{{#if isGamePlayer}}
		<div id="chat-button" class="chat-button" data-action="trigger-reaction-list">
			<div class="fa"></div>
		</div>
	{{/if}}

	<div class="received-reaction-container">
		<div id="reaction-from-player1" class="received-reaction {{#if gameIs2Vs2}}received-reaction-2vs2{{/if}}">
			<div class="received-reaction-item reaction-hidden"></div>
		</div>
		{{#if gameIs2Vs2}}
			<div id="reaction-from-player3" class="received-reaction received-reaction-2vs2">
				<div class="received-reaction-item reaction-hidden"></div>
			</div>
			<div id="reaction-from-player4" class="received-reaction received-reaction-2vs2">
				<div class="received-reaction-item reaction-hidden"></div>
			</div>
		{{/if}}
		<div id="reaction-from-player2" class="received-reaction {{#if gameIs2Vs2}}received-reaction-2vs2{{/if}}">
			<div class="received-reaction-item reaction-hidden"></div>
		</div>
	</div>

	<div id="cheer-host" class="cheer-item cheer-host {{#unless hasViewer}}cheer-no-viewers{{/unless}} {{#unless isGamePlayer}}cheer-for-viewer{{/unless}}" data-action="cheer-host">
		<div class="cheer-icon"></div>
	</div>
	<div id="cheer-client" class="cheer-item cheer-client {{#unless hasViewer}}cheer-no-viewers{{/unless}} {{#unless isGamePlayer}}cheer-for-viewer{{/unless}}" data-action="cheer-client">
		<div class="cheer-icon"></div>
	</div>
</template>
