<template name="reactions">
	{{#if isGamePlayer}}
		<div id="reaction-selector" class="reaction-selector" data-action="trigger-reaction-list">
			{{> reactionsList}}
		</div>
	{{/if}}

	{{#if isGamePlayer}}
		<div id="chat-button" class="chat-button" data-action="trigger-reaction-list">
			<div class="fa"></div>
		</div>
	{{/if}}

	<div class="received-reaction-container">
		<div id="reaction-from-host" class="received-reaction">
			<div class="received-reaction-item reaction-hidden"></div>
		</div>
		<div id="reaction-from-client" class="received-reaction">
			<div class="received-reaction-item reaction-hidden"></div>
		</div>
	</div>

	<div id="cheer-host" class="cheer-item cheer-host {{#unless hasViewer}}cheer-no-viewers{{/unless}} {{#unless isGamePlayer}}cheer-for-viewer{{/unless}}" data-action="cheer-host">
		<div class="cheer-icon"></div>
	</div>
	<div id="cheer-client" class="cheer-item cheer-client {{#unless hasViewer}}cheer-no-viewers{{/unless}} {{#unless isGamePlayer}}cheer-for-viewer{{/unless}}" data-action="cheer-client">
		<div class="cheer-icon"></div>
	</div>
</template>
