.reaction-list-item {
	background-color: white;
	border-radius: 10px;
	border: $text-color solid 3px;
	height: 40px;
	width: 100px;
	font-size: 14px;

	.reaction-icon {
		display: inline-block;
		margin-top: -40px;
		width: 75px;
		height: 75px;
	}
}

.reaction-list {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;

	.reaction-list-items {
		display: flex;
		align-self: center;
		justify-content: center;
		flex-direction: column;
		@include horizontal-breakpoint(mobile) {
			transform: scale(0.75);
		}
		@include horizontal-breakpoint(mobileportrait) {
			transform: scale(0.55);
		}

		.reaction-list-items-group {
			display: flex;
			justify-content: center;
			flex-flow: wrap;
			width: 475px;

			.reaction-list-item {
				position: relative;
				margin: 5px;
			}
		}
	}
}

.reaction-keymap {
	position: absolute;
	border: 1px solid black;
	border-radius: 15px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	font-size: 10px;
	background-color: white;
	left: -9px;
	top: -9px;
}

.reaction-list-item-text {
	flex-basis: 140px;
	width: 140px;
	max-width: 140px;
	height: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.reaction-text {
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0 5px;
	}
}

.reaction-icon-wow {
	background-image: url("/assets/reaction/reaction-wow.png");
}

.reaction-icon-angry {
	background-image: url("/assets/reaction/reaction-angry.png");
}

.reaction-icon-sob {
	background-image: url("/assets/reaction/reaction-sob.png");
}

.reaction-icon-laugh {
	background-image: url("/assets/reaction/reaction-laugh.png");
}
