<template name="recentGames">
	<div class="cards-list constrained-width">
		{{#each recentGames}}
			<div class="card recent-game-item">
				<div class="card-row card-row-header">
					<div class="card-cell card-title card-left">{{{wonOrLoss ../userId}}}</div>
					<div class="card-cell card-title">{{{getScore ../userId}}}</div>
					<div class="card-cell card-title tournament-game-cell">
						{{#if tournamentId}}
							<div><div class="tournament-game-icon"></div></div>
						{{/if}}
					</div>
				</div>
				<div class="card-row card-row-top">
					<div class="card-cell card-title card-cell-ellipsis">{{hostNames}}</div>
					<div class="card-cell card-title card-cell-ellipsis">{{clientNames}}</div>
				</div>
				<div class="card-row">
					<div class="card-cell recent-game-shape-cell recent-game-shape-cell-host">
						<div class="recent-game-shape-container">
							<div class="recent-game-shape-icon"></div>
							<div class="recent-game-shape-shape">
								<div class="shape-selector-container shape-{{shape 0}}">
									<div class="shape-content-scroller"></div>
								</div>
								{{#if shape 2}}
									<div class="shape-selector-container shape-{{shape 2}}">
										<div class="shape-content-scroller"></div>
									</div>
								{{/if}}
							</div>
						</div>
					</div>
					<div class="card-cell recent-game-shape-cell recent-game-shape-cell-client">
						<div class="recent-game-shape-container">
							<div class="recent-game-shape-icon"></div>
							<div class="recent-game-shape-shape">
								<div class="shape-selector-container shape-{{shape 1}}">
									<div class="shape-content-scroller"></div>
								</div>
								{{#if shape 3}}
									<div class="shape-selector-container shape-{{shape 3}}">
										<div class="shape-content-scroller"></div>
									</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<div class="card-row card-row-bottom">
					<div class="card-cell card-left"><span data-tooltip="{{getStartedAtDateTime}}">{{getStartedAtDate}}</span></div>
					<div class="card-cell card-right">{{> eloRatingChange eloRatingChange=eloRatingChange}}</div>
				</div>
			</div>
		{{else}}
			<div class="card empty-card">
				<div class="card-cell">There are no recent games...</div>
			</div>
		{{/each}}
	</div>

	{{#if hasMoreGames}}
		<div class="button show-more constrained-width" data-action="show-more-games">Show more games</div>
	{{/if}}
</template>
