@include view-selector-shown(user-profile-statistics-shown, view-user-profile-statistics, user-profile-statistics);
@include view-selector-shown(user-profile-recent-games-shown, view-user-profile-recent-games, user-profile-recent-games);

$user-important-information: lighten($text-color, 30%);

.user-profile-information {
	text-align: left;

	.user-profile-name {
		font-size: 1.5em;
	}

	.user-profile-id {
		color: $user-important-information;
	}

	.user-profile-email {
		color: $user-important-information;
		direction: rtl;
		unicode-bidi: bidi-override;
	}

	.user-profile-service-name {
		color: $user-important-information;
	}
}
