<template name="achievements">
	<h1>Achievements</h1>

	<div class="achievement-lists">
		{{#each achievements}}
			<div class="achievement-row">
				<div class="achievement-item">
					<div class="achievement-star achievement-star-level-1 {{achievementStarClass ../userAchievements 1}}">
						<i class="fa fa-star-o" aria-hidden="true"></i>
					</div>
					<div class="achievement-level-info">{{achievementLevel 1}}</div>
				</div>
				<div class="achievement-item">
					<div class="achievement-star achievement-star-level-2 {{achievementStarClass ../userAchievements 2}}">
						<i class="fa fa-star-o" aria-hidden="true"></i>
					</div>
					<div class="achievement-level-info">{{achievementLevel 2}}</div>
				</div>
				<div class="achievement-item">
					<div class="achievement-star achievement-star-level-3 {{achievementStarClass ../userAchievements 3}}">
						<i class="fa fa-star-o" aria-hidden="true"></i>
					</div>
					<div class="achievement-level-info">{{achievementLevel 3}}</div>
				</div>
				<div class="achievement-information">
					<div class="achievement-name">{{name}}</div>
					{{#unless isSecret}}
						<div class="achievement-description">
							{{description}}: {{achievementProgress ../userAchievements}}
						</div>
					{{/unless}}
				</div>
			</div>
		{{/each}}
	</div>
</template>
