<template name="eloRanking">
	<div class="table-list ranked-table-list">
		<div class="table-list-row table-list-header">
			<div class="table-list-cell center-aligned-cell" style="flex: 0 0 50px;">&nbsp;</div>
			<div class="table-list-cell">Name</div>
			<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 50px;">W</div>
			<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 50px;">L</div>
			<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 55px;">%</div>
			<div class="table-list-cell" style="flex: 0 0 90px;">Elo</div>
		</div>

		{{#each profilesCollection}}
			<div class="table-list-row {{getHighlightedClassIfCurrentUser}}">
				<div class="table-list-cell center-aligned-cell rank-cell" style="flex: 0 0 50px;">{{getRank @index}}</div>
				<div class="table-list-cell">{{getUserName ../usersCollection}}</div>
				<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 50px;">{{numberOfWin}}</div>
				<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 50px;">{{numberOfLost}}</div>
				<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 55px;">{{getWinRate}}</div>
				<div class="table-list-cell elo-rating-cell" style="flex: 0 0 90px;"><div>{{eloRating}}</div> {{> eloRatingChange eloRatingChange=eloRatingLastChange}}</div>
			</div>
		{{else}}
			<div class="table-list-row">
				<div class="table-list-cell">{{emptyText}}</div>
			</div>
		{{/each}}
	</div>
</template>
