.lightbox {
	@include mask;
	position: fixed;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;

	h1 {
		margin-top: 5px;
		margin-bottom: 15px;
	}

	text-align: center;

	.button {
		margin: 15px auto 5px;
	}
}

.lightbox-inner {
	margin: auto;
	animation: appear 1s linear both;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;

	& > * {
		flex: 1 1 auto;
		min-width: 275px;
		max-width: 515px;

		@include horizontal-breakpoint(mobileportrait) {
			max-width: 275px;
		}
	}

	.restricted-width-lightbox-content {
		max-width: 350px;

		@include horizontal-breakpoint(mobileportrait) {
			max-width: 275px;
		}
	}
}

.lightbox-close {
	position: fixed;
	right: 25px;
	top: 25px;
	font-size: 2em;
	display: block;
	line-height: 0;
	z-index: 1;
}
