<template name="matchMaking">
	<div class="match-making">
		{{#if showModeSelection}}
			<h1>Select a game mode</h1>

			<div class="match-making-body match-selection-items">
				<div class="match-selection" data-action="select-mode-selection" data-mode-selection="1vsCPU">
					<div class="match-selection-item match-selection-title">
						<div>1 VS CPU</div>
					</div>
				</div>

				<div class="match-selection" data-action="select-mode-selection" data-mode-selection="1vsMLCPU">
					<div class="match-selection-item match-selection-title">
						<div>1 VS Machine Learning CPU</div>
					</div>
				</div>

				<div class="match-selection" data-action="select-mode-selection" data-mode-selection="1vs1">
					<div class="match-selection-item match-selection-title">
						<div>1 VS 1</div>
						<div class="currently-waiting-match-making {{#if hasPlayersWaiting '1vs1' null}}has-players-waiting-match-making{{/if}}" data-tooltip="{{playersWaiting '1vs1' null}}">
							<div class="currently-waiting-match-making-number">{{numberOfPlayersWaiting "1vs1" null}}</div>
							<i class="currently-waiting-match-making-icon fa fa-user-circle"></i>
						</div>
					</div>
				</div>

				<div class="match-selection" data-action="select-mode-selection" data-mode-selection="2vs2">
					<div class="match-selection-item match-selection-title">
						<div>2 VS 2</div>
						<div class="currently-waiting-match-making {{#if hasPlayersWaiting '2vs2' null}}has-players-waiting-match-making{{/if}}" data-tooltip="{{playersWaiting '2vs2' null}}">
							<div class="currently-waiting-match-making-number">{{numberOfPlayersWaiting "2vs2" null}}</div>
							<i class="currently-waiting-match-making-icon fa fa-user-circle"></i>
						</div>
					</div>
				</div>

				{{#each tournaments}}
					<div class="match-selection" data-action="select-mode-selection" data-mode-selection="tournament" data-tournament-id="{{_id}}">
						<div class="match-selection-item match-selection-title">
							<div class="card-cell card-title card-cell-ellipsis">
								<div>
									<div>{{name}}</div>
									<div class="currently-waiting-match-making {{#if hasPlayersWaiting 'tournament' this._id}}has-players-waiting-match-making{{/if}}" data-tooltip="{{playersWaiting 'tournament' this._id}}">
										<div class="currently-waiting-match-making-number">{{numberOfPlayersWaiting "tournament" this._id}}</div>
										<i class="currently-waiting-match-making-icon fa fa-user-circle"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="match-selection-item match-selection-description">{{description}}</div>
					</div>
				{{/each}}
			</div>
		{{/if}}

		{{#if showTournamentNotAvailable}}
			<h1>Tournament not available</h1>

			Select another mode or tournament to play!
		{{/if}}

		{{#if showSelectedModeTitle}}
			<h1 class="tournament-name">
				<div>{{selectedMode}}</div>
				{{#if showCurrentWaitingForMode}}
					<div class="currently-waiting-match-making {{#if hasPlayersWaiting modeSelection tournamentId}}has-players-waiting-match-making{{/if}}" data-tooltip="{{playersWaiting modeSelection tournamentId}}" data-tooltip-direction="s">
						<div class="currently-waiting-match-making-number">{{numberOfPlayersWaiting modeSelection tournamentId}}</div>
						<i class="currently-waiting-match-making-icon fa fa-user-circle"></i>
					</div>
				{{/if}}
			</h1>
			<p class="tournament-description">{{selectedTournamentDescription}}</p>
		{{/if}}

		{{#if matchMakingStatus}}
			<div class="match-making-status {{matchMakingStatusClass}}">{{matchMakingStatus}}</div>
		{{/if}}

		{{#if showListOfMatched}}
			<div class="table-list constrained-table">
				{{#each listOfMatched}}
					<div class="table-list-row matched-user matched-user-position-{{position}}">
						<div class="table-list-cell" style="flex: 0 0 35px;">
							<i class="matched-user-is-ready {{#if isReady}}matched-user-ready{{/if}} fa fa-check"></i>
						</div>
						<div class="table-list-cell" style="flex: 0 0 70px;">
							{{#if shapeEditionAllowed id}}
								{{> shapeSelector selectedShape=selectedShape allowedListOfShapes=allowedListOfShapes}}
							{{else}}
								<div class="shape-selector-container shape-{{shape id}}">
									<div class="shape-content-scroller"></div>
								</div>
							{{/if}}
						</div>
						<div class="table-list-cell">{{name}}</div>
					</div>
				{{/each}}
			</div>
		{{/if}}

		{{#if showShare}}
			<div class="share-match-making">
				<div class="share-title"><i class="fa fa-share-alt"></i> Ask a friend to play</div>
				<div class="copyable-url-input">
					<input type="text" value="{{urlFor 'matchMaking' modeSelection=modeSelection tournamentId=tournamentIdForUrl}}" readonly="readonly" name="url" />
					<i class="fa fa-clipboard clipboard-copy" data-action="copy-url" data-tooltip="Copy to clipboard" data-tooltip-direction="s"></i>
				</div>
			</div>
		{{/if}}

		{{#if showLoading}}
			<div class="match-making-body">
				<div class="loading-logo">
					<div class="loading-diagonals"></div>
					<div class="loading-v"></div>
				</div>

				<div class="match-making-tips">{{tips}}</div>
			</div>
		{{/if}}

		<div class="buttons">
			{{#if canIncludeComputer}}
				<input type="button" data-action="include-computer" class="button" data-tooltip="{{includeComputerTooltip}}" value="Add a CPU" />
			{{/if}}
			{{#if canIncludeComputer}}
				<input type="button" data-action="include-ml-computer" class="button" data-tooltip="{{includeComputerTooltip}}" value="Add a ML CPU" />
			{{/if}}
			{{#if showStartGame}}
				<input type="button" data-action="start-game" class="button" {{startGameDisabling}} value="Play!" />
			{{/if}}
			{{#if showRetry}}
				<input type="button" data-action="retry-match-making" class="button" value="Retry">
			{{/if}}
			{{#if showCancelMatchMaking}}
				<input type="button" data-action="cancel-match-making" class="button cancel-button" value="Cancel">
			{{/if}}
		</div>

		{{#if waitingForPlayersReady}}
			<p>Waiting for all players to be ready...</p>
		{{/if}}
	</div>
</template>
