<template name="multipleShapeSelectSwitch">
	<div class="multiple-shape-select-switch">
		<h3>
			<input type="checkbox" id="check-{{id}}" data-checkbox-action="enable-multiple-shape-select-switch" disabled="{{#if isReadOnly}}disabled{{/if}}">
			<label for="check-{{id}}"> {{label}}</label>
		</h3>

		<div class="styled-multiple-select">
			<select id="{{id}}" multiple="">
				{{#each option in options hasRandom}}
					<option value="{{option.id}}" selected="{{isSelected isOn option.id values}}" class="shape-icon-container shape-{{option.id}}">
					</option>
				{{/each}}
			</select>
		</div>
	</div>
</template>
