<template name="recentGames">
	<h1>Recent games</h1>

	<div class="table-list">
		<div class="table-list-row table-list-header">
			<div class="table-list-cell" style="flex: 0 0 110px;">Date</div>
			<div class="table-list-cell center-aligned-cell" style="flex: 0 0 95px;">Score</div>
			<div class="table-list-cell">Opponent</div>
		</div>

		{{#each games}}
			<div class="table-list-row">
				<div class="table-list-cell" style="flex: 0 0 110px;"><span data-tooltip="{{getStartedAtDateTime}}">{{{getStartedAtDate}}}</span></div>
				<div class="table-list-cell center-aligned-cell" style="flex: 0 0 95px; display: flex;">{{{getScore}}} {{> eloRatingChange eloRatingChange=(getEloRatingChange ../eloScores)}}</div>
				<div class="table-list-cell">{{getOpponent ../players}}</div>
			</div>
		{{else}}
			<div class="table-list-row">
				<div class="table-list-cell">You haven't played any games yet...</div>
			</div>
		{{/each}}
	</div>

	{{#if hasMoreGames}}
		<div class="button show-more" data-action="show-more-games">Show more games</div>
	{{/if}}
</template>
