<template name="recentGames">
	<h1>Recent games</h1>

	<div class="cards-list constrained-width">
		{{#each recentGames}}
			<div class="card recent-game-item">
				<div class="card-row card-row-header">
					<div class="card-cell card-title card-left">{{{wonOrLoss}}}</div>
					<div class="card-cell card-title">{{{getScore}}}</div>
					<div class="card-cell card-title"></div>
				</div>
				<div class="card-row card-row-top">
					<div class="card-cell card-title card-cell-ellipsis">{{hostName}}</div>
					<div class="card-cell card-title card-cell-ellipsis">{{clientName}}</div>
				</div>
				<div class="card-row">
					<div class="card-cell recent-game-shape-cell recent-game-shape-cell-host">
						<div class="recent-game-shape-container">
							<div class="recent-game-shape-icon"></div>
							<div class="recent-game-shape-shape">
								<div class="shape-selector-container shape-{{hostShape}}">
									<div class="shape-content-scroller"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-cell recent-game-shape-cell recent-game-shape-cell-client">
						<div class="recent-game-shape-container">
							<div class="recent-game-shape-icon"></div>
							<div class="recent-game-shape-shape">
								<div class="shape-selector-container shape-{{clientShape}}">
									<div class="shape-content-scroller"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-row card-row-bottom">
					<div class="card-cell card-left"><span data-tooltip="{{getStartedAtDateTime}}">{{getStartedAtDate}}</span></div>
					<div class="card-cell card-right">{{> eloRatingChange eloRatingChange=eloRatingChange}}</div>
				</div>
			</div>
		{{else}}
			<div class="card empty-card">
				<div class="card-cell">There are no recent games...</div>
			</div>
		{{/each}}
	</div>

	{{#if hasMoreGames}}
		<div class="button show-more constrained-width" data-action="show-more-games">Show more games</div>
	{{/if}}
</template>
