<template name="selectSwitch">
	<div class="select-switch">
		<h3>
			<input type="checkbox" id="check-{{id}}" data-checkbox-action="enable-select-switch" disabled="{{#if isReadOnly}}disabled{{/if}}">
			<label for="check-{{id}}">
				<div>{{label}}</div>
				{{#if hasDefault}}<div class="switch-default-value">default {{default}}</div>{{/if}}
			</label>
		</h3>

		<span class="styled-single-select">
			<select id="{{id}}" disabled="{{#if fieldIsReadOnly isOn isReadOnly}}disabled{{/if}}">
				{{#each option in options}}
					<option value="{{option.id}}" selected="{{isSelected isOn option.id value}}">{{option.name}}</option>
				{{/each}}
			</select>
		</span>
	</div>
</template>
