$shape-number: 1;
$shape-list: 'random', 'half-circle', 'triangle', 'x', 'rectangle', 'hyphen', 'obelisk',
	'equal', 'magnet', 'crown', 'rhombus', 'hexagon', 'dot', 'ellipse', 'triple-colon';
$number-of-shapes: length($shape-list);

@mixin shape-content($position) {
	transform: translateY(($position - 1) * -21px);
}

.shape-selector {
	display: inline-block;

	.shape-selector-caret {
		display: inline-block;
		margin-left: 2px;
		vertical-align: text-top;
	}

	&.shape-selectable {
		cursor: pointer;
	}
}

.shape-selector-container {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 32px;
	height: 16px;

	.shape-content-scroller {
		background-image: url("/assets/player-shapes-small.png");
		height: $number-of-shapes * 21px;
		width: 32px;
	}

	@each $shape in $shape-list {
		&.shape-#{$shape} .shape-content-scroller {
			@include shape-content($shape-number);
		}
		$shape-number: $shape-number + 1;
	}
}

.shape-selector-menu {
	display: none;
	position: absolute;
	padding: 3px;
	width: 138px;
	max-height: 175px;
	@include menubox;
	overflow: scroll;

	@include vertical-breakpoint(tablet) {
		max-height: 80px;
	}

	@include horizontal-breakpoint(mobile) {
		width: 47px;
		max-height: 115px;
	}

	.shape-selector-item {
		padding: 7px;
		overflow: hidden;
		display: inline-block;
		cursor: pointer;

		&:hover {
			background-color: $selectbox-background-color-hover;
		}

		&.selected-shape {
			background-color: $selectbox-background-color-selected;

			&:hover {
				background-color: $selectbox-background-color-selected-hover;
			}
		}
	}

	.shape-selector-container {
		display: block;
	}
}
