.shape-selector-container {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 32px;
	height: 16px;

	&.shape-selectable {
		cursor: pointer;
	}

	.shape-content-scroller {
		background-image: url("/assets/player-shapes-small.png");
		transition: 0.5s ease-in-out;
		height: 252px;
		width: 32px;
	}

	&.shape-random .shape-content-scroller {
		transform: translateY(0px);
	}

	&.shape-half-circle .shape-content-scroller {
		transform: translateY(-21px);
	}

	&.shape-triangle .shape-content-scroller {
		transform: translateY(-42px);
	}

	&.shape-x .shape-content-scroller {
		transform: translateY(-63px);
	}

	&.shape-rectangle .shape-content-scroller {
		transform: translateY(-84px);
	}

	&.shape-equal .shape-content-scroller {
		transform: translateY(-105px);
	}

	&.shape-crown .shape-content-scroller {
		transform: translateY(-126px);
	}

	&.shape-rhombus .shape-content-scroller {
		transform: translateY(-147px);
	}

	&.shape-hexagon .shape-content-scroller {
		transform: translateY(-168px);
	}

	&.shape-dot .shape-content-scroller {
		transform: translateY(-189px);
	}

	&.shape-ellipse .shape-content-scroller {
		transform: translateY(-210px);
	}

	&.shape-triple-colon .shape-content-scroller {
		transform: translateY(-231px);
	}
}

.shape-selector-carets {
	display: inline-block;
	margin-left: 2px;

	i {
		display: block;
		cursor: pointer;
		font-size: 10px;
	}
}
