$number-of-shapes: 13;

@mixin shape-content($position) {
	transform: translateY(($position - 1) * -21px);
}

.shape-selector {
	display: inline-block;

	.shape-selector-caret {
		display: inline-block;
		margin-left: 2px;
		vertical-align: text-top;
	}

	&.shape-selectable {
		cursor: pointer;
	}
}

.shape-selector-container {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 32px;
	height: 16px;

	.shape-content-scroller {
		background-image: url("/assets/player-shapes-small.png");
		height: $number-of-shapes * 21px;
		width: 32px;
	}

	&.shape-random .shape-content-scroller {
		@include shape-content(1);
	}

	&.shape-half-circle .shape-content-scroller {
		@include shape-content(2);
	}

	&.shape-triangle .shape-content-scroller {
		@include shape-content(3);
	}

	&.shape-x .shape-content-scroller {
		@include shape-content(4);
	}

	&.shape-rectangle .shape-content-scroller {
		@include shape-content(5);
	}

	&.shape-equal .shape-content-scroller {
		@include shape-content(6);
	}

	&.shape-magnet .shape-content-scroller {
		@include shape-content(7);
	}

	&.shape-crown .shape-content-scroller {
		@include shape-content(8);
	}

	&.shape-rhombus .shape-content-scroller {
		@include shape-content(9);
	}

	&.shape-hexagon .shape-content-scroller {
		@include shape-content(10);
	}

	&.shape-dot .shape-content-scroller {
		@include shape-content(11);
	}

	&.shape-ellipse .shape-content-scroller {
		@include shape-content(12);
	}

	&.shape-triple-colon .shape-content-scroller {
		@include shape-content(13);
	}
}

.shape-selector-menu {
	display: none;
	position: absolute;
	padding: 3px;
	width: 138px;
	max-height: 175px;
	@include menubox;
	overflow: scroll;

	@include vertical-breakpoint(tablet) {
		max-height: 80px;
	}

	@include horizontal-breakpoint(mobile) {
		width: 47px;
		max-height: 115px;
	}

	.shape-selector-item {
		padding: 7px;
		overflow: hidden;
		display: inline-block;
		cursor: pointer;

		&:hover {
			background-color: $selectbox-background-color-hover;
		}

		&.selected-shape {
			background-color: $selectbox-background-color-selected;

			&:hover {
				background-color: $selectbox-background-color-selected-hover;
			}
		}
	}

	.shape-selector-container {
		display: block;
	}
}
