@shape-list: 'random', 'half-circle', 'triangle', 'x', 'rectangle', 'hyphen', 'obelisk',
	'equal', 'magnet', 'crown', 'rhombus', 'hexagon', 'dot', 'ellipse', 'triple-colon';
@number-of-shapes: length(@shape-list);

.mixin-shape-content(@position, @height) {
	transform: translateY((@position - 1) * -@height);
}

.shape-selector {
	display: flex;
	align-items: center;
	justify-content: center;

	.shape-selector-caret {
		margin-left: 10px;
	}

	&.shape-selectable {
		cursor: pointer;
	}
}

.shape-selector-container {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 32px;
	height: 16px;

	.shape-content-scroller {
		background-image: url("/assets/component/shape/player-shapes-small.png");
		height: @number-of-shapes * 21px;
		width: 32px;
	}

	.-(@i: length(@shape-list)) when (@i > 0) {
		@shape: extract(@shape-list, @i);
		@shape-class: ~'.shape-@{shape}';

		&@{shape-class} .shape-content-scroller {
			.mixin-shape-content(@i, 21px);
		}

		.-((@i - 1));
	} .-;
}

.shape-selector-menu {
	display: none;
	position: absolute;
	padding: 3px;
	width: 153px;
	max-height: 175px;
	.mixin-menubox;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 9000;

	.mixin-vertical-breakpoint-tablet({
		max-height: 80px;
	});

	.mixin-horizontal-breakpoint-mobile({
		width: 115px;
		max-height: 115px;
	});

	.shape-selector-item {
		padding: 7px;
		overflow: hidden;
		display: inline-block;
		cursor: pointer;

		&:hover {
			background-color: @selectbox-background-color-hover;
		}

		&.selected-shape {
			background-color: @selectbox-background-color-selected;

			&:hover {
				background-color: @selectbox-background-color-selected-hover;
			}
		}
	}

	.shape-selector-container {
		display: block;
	}
}
