<template name="statistics">
	<h1>Statistics</h1>

	<div class="profile-information-container">
		<div class="profile-information-statistic">
			<div>
				<div class="profile-information-statistic-data">{{numberOfGamesPlayed}}</div>
				<div class="profile-information-statistic-title">games played</div>
			</div>
		</div>
		<div class="profile-information-statistic">
			<div>
				<div class="profile-information-statistic-data">{{winRate}}</div>
				<div class="profile-information-statistic-title">win rate</div>
			</div>
		</div>
		<div class="profile-information-statistic">
			<div>
				<div class="profile-information-statistic-data">
					<span class="shutouts-positive">{{numberOfShutouts}}</span>
					|
					<span class="shutouts-negative">{{numberOfShutoutLosses}}</span>
				</div>
				<div class="profile-information-statistic-title">shutouts</div>
			</div>
		</div>
		<div class="profile-information-statistic">
			<div data-tooltip="{{longestGameInformation 'longestGame'}}">
				<div class="profile-information-statistic-data">{{{longestGameDuration 'longestGame'}}}</div>
				<div class="profile-information-statistic-title">longest game</div>
			</div>
		</div>
		<div class="profile-information-statistic">
			<div data-tooltip="{{longestGameInformation 'longestPoint'}}">
				<div class="profile-information-statistic-data">{{{longestGameDuration 'longestPoint'}}}</div>
				<div class="profile-information-statistic-title">longest point</div>
			</div>
		</div>
		<div class="profile-information-statistic">
			<div data-tooltip="{{eloStatInformation 'lowestElo'}}">
				<div class="profile-information-statistic-data">{{{eloStat 'lowestElo'}}}</div>
				<div class="profile-information-statistic-title">lowest ELO</div>
			</div>
		</div>
		<div class="profile-information-statistic">
			<div data-tooltip="{{eloStatInformation 'highestElo'}}">
				<div class="profile-information-statistic-data">{{{eloStat 'highestElo'}}}</div>
				<div class="profile-information-statistic-title">highest ELO</div>
			</div>
		</div>
		<div class="profile-information-statistic elo-rating-statistic">
			<div>
				<div class="profile-information-statistic-data">
					<div>{{profile.eloRating}}</div>
					{{> eloRatingChange eloRatingChange=this.profile.eloRatingLastChange}}
				</div>
				<div class="profile-information-statistic-title">ELO</div>
			</div>
		</div>
		<div class="profile-information-statistic favourite-shape-statistic">
			<div data-tooltip="
				{{#if hasFavouriteShapesLoaded}}
					{{#each favouriteShapes}}
						<div class='favourite-shapes-list-item'>
							<div class='shape-selector-container shape-{{shape}}'>
								<div class='shape-content-scroller'></div>
							</div>
							<div class='favourite-shape-number'>{{number}}</div>
						</div>
					{{else}}
						N/A
					{{/each}}
				{{else}}
					<div class='loading-icon fa fa-spinner fa-pulse' />
				{{/if}}
			">
				<div class="profile-information-statistic-data">
					{{#if hasFavouriteShapesLoaded}}
						{{{favouriteShape}}}
					{{else}}
						<div class="loading-icon fa fa-spinner fa-pulse"></div>
					{{/if}}
				</div>
				<div class="profile-information-statistic-title">Favourite shape</div>
			</div>
		</div>
	</div>
</template>
