@import "{}/client/scss/variables.scss";

.app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app-header {
	background: $header-background-color;
	color: $header-text-color;
	width: 100%;
	box-sizing: border-box;
	flex: 0 0 auto;
	top: 0;
	display: flex;
	align-items: center;
	border-bottom: 4px solid $header-border-bottom-color;
	position: relative;
	max-height: 55px;

	.app-title {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: 5px 0;

		.volemon-logo {
			height: 40px;
			width: 40px;
		}

		.logo-shifter {
			position: relative;
			overflow: hidden;
			height: 40px;
			text-align: center;

			em {
				position: absolute;
				height: 40px;
				transition: 0.25s ease-in-out;
				left: 0;
				right: 0;
			}

			& > :first-child {
				top: 0;
			}

			& > :last-child {
				top: 40px;
				font-weight: 900;
				font-style: normal;
				line-height: 45px;
				color: $header-logo-color;

				.v-logo {
					height: 20px;
					width: 20px;
				}
			}
		}
	}
}

.app-header-section {
	display: block;
	text-align: center;
	box-sizing: border-box;
	padding: 15px 20px;
	min-height: 50px;
	z-index: 1;

	&.app-header-section-button {
		padding: 8px;
		font-size: 8px;
		width: 80px;
		white-space: nowrap;
		text-align: center;
		background-color: #ffffff;
		transition: 0.75s ease-in-out;

		i.fa {
			font-size: 22px;
			display: block;
			margin-bottom: 2px;
		}
	}

	a {
		cursor: pointer;

		&:hover {
			color: $header-text-color-light;
		}
	}

	&.app-header-empty-section {
		flex: 1 1 auto;
	}

	& + &, &:first-of-type {
		border-right: 1px solid $header-border-color;
	}

	&:last-of-type {
		border-right: 0;
	}
}

.app-header-section-button-home {
	z-index: 4;

	.fa:before {
		content: "\f015";
	}
}

.app-header-section-button-create-game {
	z-index: 3;
}

.app-header-section-button-games-list {
	z-index: 2;
}

.app-header-section-button-view-rank {
	z-index: 1;
}

.app-main {
	flex: 1 1 auto;
	display: flex;
	align-content: stretch;
	flex-direction: column;
	position: relative;
}

.app-section {
	flex: 1 0 auto;
	flex-direction: row;
	display: flex;
	justify-content: center;
	overflow: auto;
	box-sizing: border-box;
	text-align: center;
	padding: 0 20px;

	&.app-section-center {
		align-items: center;
	}

	&.app-section-top {
		align-items: flex-start;
	}
}

.app-section-top .app-section-inner {
	margin-top: 10px;
}

.small-icon {
	font-size: 12px;
	line-height: 20px;
	vertical-align: top;
}

.username-header-menu {
	position: relative;

	&.disabled-menu {
		color: rgba(lighten($header-text-color, 15%), 0.8);
		text-shadow: 1px 1px 0 lighten($header-text-color, 30%);

		& > a {
			cursor: default;
		}
	}
}

.username-header-menu .username-dialog {
	display: none;
	position: absolute;
	right: -10px;
	background: $header-username-dialog-background-color;
	color: $text-color;
	padding: 5px 0;
	top: 35px;
	box-shadow: $background-color-darker 0 3px 5px 0;
}

.username-dialog .username-dialog-button {
	cursor: pointer;
	text-align: right;
	padding: 5px 15px;
	white-space: nowrap;

	&:hover {
		background: $header-username-dialog-background-color-hover;
	}
}

input.field-in-error {
	animation: shake 2s linear both;
	box-shadow: 0 0 0 1px $negative;
}

.error-label-container, .accounts-dialog .error-message {
	margin: 15px 0 0;
	animation: shake 2s linear both;
	color: $negative;
}

.tooltip-element {
	display: none;
}

.tooltip {
	$arrow-size: 5px;
	$tooltip-color: rgba($text-color, .8);

	z-index: 1001;
	pointer-events: none;
	opacity: 0;
	font-weight: 500;
	text-align: center;
	font-size: 13px;
	transition: opacity 0.25s ease-in-out;

	.inner {
		background-color: $tooltip-color;
		color: $header-background-color;
		border-radius: 4px;
		padding: 3px 10px;
	}

	&.hide {
		opacity: 0;
	}

	&.show {
		opacity: 1;
	}

	// CSS arrow
	.inner::after {
		content: "";
		display: block;
		bottom: -$arrow-size*2;
		left: calc(50% - #{$arrow-size});
		width: 0;
		height: 0;
		border: $arrow-size solid;
		border-color: $tooltip-color transparent transparent;
		position: absolute;
	}

	&.tooltip--left .inner {
		box-shadow: rgba($text-color, .1) -1px 1px 1px;

		&::after {
			right: -$arrow-size*2;
			left: auto;
			bottom: calc(50% - #{$arrow-size});
			border-color: transparent transparent transparent $tooltip-color;
		}
	}

	&.tooltip--right .inner {
		box-shadow: rgba($text-color, .1) 1px 1px 1px;

		&::after {
			left: -$arrow-size*2;
			bottom: calc(50% - #{$arrow-size});
			border-color: transparent $tooltip-color transparent transparent;
		}
	}

	&.tooltip--bottom .inner::after {
		top: -$arrow-size*2;
		bottom: auto;
		border-color: transparent transparent $tooltip-color transparent;
	}
}

@media (max-width: 720px) {
	.app-header {
		max-height: 40px;

		.app-title {
			.volemon-logo {
				width: 25px;
				height: 25px;
			}
		}
	}

	.app-header-section.app-header-section-button {
		width: 50px;
	}

	.app-header-section {
		min-height: 35px;
		padding: 15px 15px;
		display: flex;
		justify-content: center;
		align-items: center;

		&.app-header-section-button {
			padding: 2px;
		}
	}

	.app-header-button-title {
		display: none;
	}

	.app-header-section-button-home {
		transform: translateX(0);
	}

	.app-header-section-button-create-game {
		transform: translateX(-45px);
	}

	.app-header-section-button-games-list {
		transform: translateX(-90px);
	}

	.app-header-section-button-view-rank {
		transform: translateX(-135px);
	}

	.app-header-section-button-home .fa {
		-webkit-transition: -webkit-transform .75s ease-in-out;
		transition: transform .75s ease-in-out;

		&:before {
			content: "\f0c9";
		}

		.app-header:hover & {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);

			&:before {
				content: "\f015";
			}
		}
	}

	.app-header:hover {
		.app-header-section-button {
			transform: translateX(0);
		}
	}
}

@media (min-width: 720px) {
	.app-header:hover {
		.app-title {
			.logo-shifter {
				& > :first-child {
					top: -40px;
				}
				& > :last-child {
					top: 0;
				}
			}
		}
	}
}
