<template name="app">

	{{> loading loadingMask="apploadingmask"}}

	{{> lightbox}}

	<div class="app">

		<div class="app-header">

			<div class="app-header-section app-header-section-button app-header-section-button-home" title="Home">
				<a href="{{pathFor 'home'}}"><i class="fa fa-home"></i><span class="app-header-button-title">Home</span></a>
			</div>

			<div class="app-header-section app-header-section-button app-header-section-button-create-game" title="Create a game">
				<a data-action="create-game"><i class="fa fa-plus-circle"></i><span class="app-header-button-title">Create game</span></a>
			</div>

			<div class="app-header-section app-header-section-button app-header-section-button-games-list" title="View the games list">
				<a href="{{pathFor 'games-list'}}"><i class="fa fa-list"></i><span class="app-header-button-title">Games list</span></a>
			</div>

			<div class="app-header-section app-header-section-button app-header-section-button-view-rank" title="View rank">
				<a href="{{pathFor 'rank'}}"><i class="fa fa-line-chart"></i><span class="app-header-button-title">View rank</span></a>
			</div>

			<div class="app-header-section app-header-empty-section"></div>

			<div class="app-header-section app-header-section-menu">
				<div class="username-header">
					{{#if currentUser}}
						<div class="username-header-menu {{classForProfileMenu}}">
							<a id="username-header-menu-open" class="username-header-menu-open">
								<span class="logged-in-user-menu"><i class="fa fa-bars"></i></span>
								<span class="logged-in-user-name-menu">{{currentUser.profile.name}} <i class="fa fa-caret-down small-icon"></i></span>
							</a>
							<div id="username-dialog-dropdown-list" class="username-dialog">
								<div data-action="user-edit-name" class="username-dialog-button">Edit name</div>
								<div data-action="user-password-change" class="username-dialog-button">Change password</div>
								<div data-action="user-logout" class="username-dialog-button">Log out</div>
							</div>
						</div>
					{{else}}
						<a data-action="user-log-in">Log in</a>
					{{/if}}
				</div>
			</div>

			<div class="app-title">
				<div class="logo-shifter">
					<em><img src="/assets/logo.png" height="40" width="40" title="Volemon" class="volemon-logo"></em>
					<em><img src="/assets/v-logo.png" height="20" width="20" title="V" class="v-logo">olemon</em>
				</div>
			</div>

		</div>

		<div class="app-main">

			{{> loading loadingMask="loadingmask"}}

			{{> yield}}

		</div>

	</div>

	{{> tooltips}}

</template>
