.rank-display-selection {
	margin-bottom: 10px;
	text-align: right;

	i {
		cursor: pointer;
		opacity: .25;

		& + & {
			margin-left: 10px;
		}

		&:hover {
			opacity: 1;
		}
	}
}

#rank-table-display {
	.rank-cell {
		font-weight: 900;
		font-size: 20px;
		line-height: 20px;
	}

	.elo-rating-cell {
		display: flex;
	}
}

#rank-line-chart-display {
	.display-chart-period {
		margin-bottom: 10px;
		font-size: 14px;

		& > span {
			cursor: pointer;

			&.active {
				font-weight: bold;
			}
		}
	}
}

.spinner {
	display: flex;
	width: 650px;
	margin-bottom: 10px;

	& > div {
		flex: 1 1 auto;
	}

	&.spinner-table-display {
		#rank-table-display {
			display: block;
		}

		#rank-line-chart-display {
			display: none;
		}
	}

	&.spinner-line-chart-display {
		#rank-table-display {
			display: none;
		}

		#rank-line-chart-display {
			display: block;
		}
	}
}
