<template name="rank">

	<div class="app-section app-section-top">

		<div class="app-section-inner maximum-responsive-width">

			<h1>Rank</h1>

			<div id="rank-display" class="rank-contents rank-table-display-shown">
				<div class="rank-display-selection">
					<i class="fa fa-table view-table-display" data-action="view-table-display" data-tooltip="Table"></i>
					<i class="fa fa-line-chart view-line-chart-display" data-action="view-line-chart-display" data-tooltip="Line chart"></i>
				</div>

				<div id="rank-table-display" class="rank-content rank-table-display table-list">
					<div class="table-list-row table-list-header">
						<div class="table-list-cell center-aligned-cell" style="flex: 0 0 50px;"></div>
						<div class="table-list-cell">Name</div>
						<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 50px;">W</div>
						<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 50px;">L</div>
						<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 55px;">%</div>
						<div class="table-list-cell" style="flex: 0 0 90px;">Elo</div>
					</div>

					{{#each profiles}}
						<div class="table-list-row {{getHighlightedClassIfCurrentUser}}">
							<div class="table-list-cell center-aligned-cell rank-cell" style="flex: 0 0 50px;">{{getRank @index}}</div>
							<div class="table-list-cell">{{getUserName ../users}}</div>
							<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 50px;">{{numberOfWin}}</div>
							<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 50px;">{{numberOfLost}}</div>
							<div class="table-list-cell right-aligned-cell hideable-cell" style="flex: 0 0 55px;">{{getWinRate}}</div>
							<div class="table-list-cell elo-rating-cell" style="flex: 0 0 90px;"><div>{{eloRating}}</div> {{> eloRatingChange eloRatingChange=eloRatingLastChange}}</div>
						</div>
					{{else}}
						<div class="table-list-row">
							<div class="table-list-cell">There is no data to show...</div>
						</div>
					{{/each}}
				</div>

				<div id="rank-line-chart-display" class="rank-content rank-line-chart-display">
					<div class="display-chart-period">
						<span data-action="display-chart-all-time">All time</span> |
						<span data-action="display-chart-60-days">60 days</span> |
						<span data-action="display-chart-30-days">30 days</span> |
						<span data-action="display-chart-14-days">14 days</span> |
						<span data-action="display-chart-7-days">7 days</span>
					</div>
					<div id="rank-line-chart">
						<canvas id="rank-line-chart-canvas"></canvas>
					</div>
				</div>
			</div>

		</div>

	</div>

</template>
