<template name="passwordChange">

	<div class="password-change">

		<form name="passwordChange">

			<h1>Change password</h1>

			<div class="form-section">
				<label for="password-change-old-password-field">Current Password</label>
				<input id="password-change-old-password-field" type="password" autofocus="autofocus" autocomplete="off" name="old-password" value="" />
			</div>

			<div class="form-section">
				<label for="password-change-password-field">New Password</label>
				<input id="password-change-password-field" type="password" autofocus="autofocus" autocomplete="off" name="password" value="" />
			</div>

			<div class="form-section">
				<label for="password-change-password-confirmation-field">Password confirmation</label>
				<input id="password-change-password-confirmation-field" type="password" autofocus="autofocus" autocomplete="off" value="" />
			</div>

			<p class="error-label-container"></p>

			<input type="submit" class="button" value="Save" />

		</form>

	</div>

</template>
