<template name="home">

	<div class="app-section app-section-top">

		<div class="app-section-inner maximum-responsive-width">

			{{#if currentUser}}

				<div class="profile-information-container">
					<div class="profile-information-header"><div>Statistics</div></div>
					<div class="profile-information-statistic">
						<div>
							<div>{{numberOfGamesPlayed}}</div>
							<div>games played</div>
						</div>
					</div>
					<div class="profile-information-statistic">
						<div>
							<div>{{winRate}}</div>
							<div>win rate</div>
						</div>
					</div>
					<div class="profile-information-statistic">
						<div data-tooltip="{{longestGameInformation 'longestGame'}}">
							<div>{{longestGameDuration 'longestGame'}}</div>
							<div>Longest game</div>
						</div>
					</div>
					<div class="profile-information-statistic">
						<div data-tooltip="{{longestGameInformation 'longestPoint'}}">
							<div>{{longestGameDuration 'longestPoint'}}</div>
							<div>Longest point</div>
						</div>
					</div>
					<div class="profile-information-statistic elo-rating-statistic">
						<div>
							<div>{{profile.eloRating}}</div>
							<div>ELO</div>
						</div>
						{{> eloRatingChange this.profile}}
					</div>
				</div>

				<h1 style="margin-top: 25px;">Recent games</h1>

				<div class="table-list">
					<div class="table-list-row table-list-header">
						<div class="table-list-cell" style="flex: 0 0 110px;">Date</div>
						<div class="table-list-cell center-aligned-cell" style="flex: 0 0 75px;">Score</div>
						<div class="table-list-cell">Opponent</div>
					</div>

					{{#each games}}
						<div class="table-list-row">
							<div class="table-list-cell" style="flex: 0 0 110px;"><span data-tooltip="{{getStartedAtDateTime}}">{{{getStartedAtDate}}}</span></div>
							<div class="table-list-cell center-aligned-cell" style="flex: 0 0 75px;">{{{getScore}}}</div>
							<div class="table-list-cell">{{getOpponent ../players}}</div>
						</div>
					{{else}}
						<div class="table-list-row">
							<div class="table-list-cell">You haven't played any games yet...</div>
						</div>
					{{/each}}
				</div>

				{{#if hasMoreGames}}
					<div class="button show-more" data-action="show-more-games">Show more games</div>
				{{/if}}

			{{else}}

				<p>Please <a class="clickable-link" data-action="user-log-in">log in</a> to get statistics on your profile!</p>

			{{/if}}

		</div>

	</div>

</template>
