@import "{}/client/scss/variables.scss";

.lightbox {
	background: rgba($background-color, .95);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 1000;
}

.lightbox-inner {
	margin: auto;
	animation: appear 1s linear both;
}

.lightbox-close {
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 2em;
	display: block;
	line-height: 0;
}
