@import "{}/client/scss/variables.scss";

.game-client-buttons .ready-button {
	font-size: 18px;
}

.game-container {
	position: relative;
}

.players-container {
	position: absolute;
	width: 100%;
	margin: 10px 0 0;
}

.players-names {
	display: flex;
	flex-direction: row;
	margin: 0 0 -20px 0;
}

.players-names > div {
	flex: 1 1 auto;
	flex-basis: 0;
	text-align: center;
}

.players-points {
	margin: 0;
	font-family: 'Oxygen Mono', sans-serif;
}

#gameContainer canvas {
	margin: 10px auto;
}

@media (max-width: 850px) {
	#gameContainer canvas {
		width: 699px !important;
		height: 466px !important;
	}
}

.copyable-url-input {
	position: relative;

	.fa-clipboard {
		margin-left: -30px;
		cursor: pointer;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}

		&:active {
			color: $header-text-color;
		}
	}
}
