<template name="game">

	<div class="app-section app-section-center">

		<div class="app-section-inner">

			{{#if isGameOnGoing}}

				<div class="game-container {{gameZoomedInClass profiles}}">

					{{! Names and Points }}

					<div class="players-container">
						<p class="players-names"><div>{{hostName}}</div><div>{{clientName}}</div></p>
						<p class="players-points">{{hostPoints}} | {{clientPoints}}</p>
					</div>

					<div class="timers-container">
						<div class="match-timer">{{matchTimer}}</div>
						<div class="point-timer">{{pointTimer}}</div>
					</div>

					<div class="viewers-container">
						<span>
							{{#if hasViewer}}
								{{viewers}}<i class="fa fa-eye"></i>
							{{/if}}
						</span>
					</div>

					{{! Game container }}

					<div id="gameContainer" class="page game"></div>

					<div id="afterGameContainer" class="after-game-container {{getStatusDependentClass}}">
						<div>
							<div>
								<div class="after-game-item after-game-title">{{getAfterGameTitle}}</div>

								{{#if isGameStatusFinished}}
									<div class="after-game-item after-game-elo">
										{{#each players}}
											<div>
												<div class="player-name">{{name}}</div>
												<div>{{getPlayerEloRating this ../profiles}}</div>
												<div>{{> eloRatingChange getPlayerProfile this ../profiles}}</div>
											</div>
										{{/each}}
									</div>
								{{/if}}

								{{#if isGamePlayer}}
									<div class="after-game-item after-game-actions">
										{{#if showOpponentDeclinedRematch}}
											<div class="rematch-declined">Your opponent declined a rematch...</div>
										{{/if}}
										{{#if showPlayerLeftTheGame}}
											<div class="rematch-declined">Your opponent left the game...</div>
										{{/if}}
										{{#if showWaitingForReply}}
											<div>Waiting for your opponent to accept...</div>
										{{/if}}
										{{#if showCreatingGame}}
											<div>Creating game...</div>
										{{/if}}
										{{#if askForRematchReply}}
											<div>
												Your opponent is asking for a rematch. Do you accept?<br />
												<a href="#" class="button" data-action="game-rematch">Yes</a>
												<a href="#" class="button" data-action="declined-game-rematch">No</a>
											</div>
										{{/if}}
										{{#if showActionAfterGame}}
											<strong>What do you want to do next?</strong>
											{{#if showAskForRematch}}
												<div><a href="#" data-action="game-rematch">Ask for a rematch</a></div>
											{{/if}}
											<div><a href="{{pathFor 'home'}}">Go to the homepage</a></div>
											<div><a href="{{pathFor 'rank'}}">View rank</a></div>
										{{/if}}
									</div>
								{{/if}}
							</div>
						</div>
					</div>

					<div class="expand-extra-big-game-size-container">
						<div class="expand-extra-big-game-size" data-action="expand-extra-big-game">
							<svg class="expand-extra-big-game-size-x1" viewBox="0 0 350 40"><text y="53">x1</text></svg>
							<svg class="expand-extra-big-game-size-x2" viewBox="0 0 350 40"><text y="53">x2</text></svg>
						</div>
					</div>

					{{#if isGamePlayer}}
						<div id="reaction-selector" class="reaction-selector" data-action="trigger-reaction-list">
							<div class="reaction-list">
								<div class="reaction-list-items">
									<div class="reaction-list-items-group">
										<div class="reaction-list-item" data-action="send-reaction" data-reaction-icon="good" data-reaction-key-map="1">
											<div class="reaction-key-map">1</div>
											<div class="reaction-icon reaction-icon-good"></div>
										</div>
										<div class="reaction-list-item" data-action="send-reaction" data-reaction-icon="angry" data-reaction-key-map="2">
											<div class="reaction-key-map">2</div>
											<div class="reaction-icon reaction-icon-angry"></div>
										</div>
										<div class="reaction-list-item" data-action="send-reaction" data-reaction-icon="sob" data-reaction-key-map="3">
											<div class="reaction-key-map">3</div>
											<div class="reaction-icon reaction-icon-sob"></div>
										</div>
										<div class="reaction-list-item" data-action="send-reaction" data-reaction-icon="happy" data-reaction-key-map="4">
											<div class="reaction-key-map">4</div>
											<div class="reaction-icon reaction-icon-happy"></div>
										</div>
									</div>
									<div class="reaction-list-items-group">
										<div class="reaction-list-item reaction-list-item-text" data-action="send-reaction" data-reaction-text="Good game!" data-reaction-key-map="5">
											<div class="reaction-key-map">5</div>
											<div class="reaction-text">Good game!</div>
										</div>
										<div class="reaction-list-item reaction-list-item-text" data-action="send-reaction" data-reaction-text="What a shot!" data-reaction-key-map="6">
											<div class="reaction-key-map">6</div>
											<div class="reaction-text">What a shot!</div>
										</div>
										<div class="reaction-list-item reaction-list-item-text" data-action="send-reaction" data-reaction-text="Boring!" data-reaction-key-map="7">
											<div class="reaction-key-map">7</div>
											<div class="reaction-text">Boring!</div>
										</div>
									</div>
									<div class="reaction-list-items-group">
										<div class="reaction-list-item reaction-list-item-text" data-action="send-reaction" data-reaction-text="Calculated." data-reaction-key-map="8">
											<div class="reaction-key-map">8</div>
											<div class="reaction-text">Calculated.</div>
										</div>
										<div class="reaction-list-item reaction-list-item-text" data-action="send-reaction" data-reaction-text="Lucky you!" data-reaction-key-map="9">
											<div class="reaction-key-map">9</div>
											<div class="reaction-text">Lucky you!</div>
										</div>
										<div class="reaction-list-item reaction-list-item-text" data-action="send-reaction" data-reaction-text="Oops!" data-reaction-key-map="0">
											<div class="reaction-key-map">0</div>
											<div class="reaction-text">Oops!</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{{/if}}

					{{#if isGamePlayer}}
						<div id="chat-button" class="chat-button" data-action="trigger-reaction-list">
							<div class="fa"></div>
						</div>
					{{/if}}

					<div class="received-reaction-container">
						<div id="reaction-from-host" class="received-reaction">
							<div class="received-reaction-item reaction-hidden"></div>
						</div>
						<div id="reaction-from-client" class="received-reaction">
							<div class="received-reaction-item reaction-hidden"></div>
						</div>
					</div>

				</div>

			{{else}}

				{{! Share URL }}

				{{#if isHost}}
					<h1>Creating a game</h1>

					<p>Share this link with someone</p>
					<p>
						<div class="copyable-url-input">
							<input type="text" value="{{urlFor 'game' _id=game._id}}" readonly="readonly" name="url" />
							<i class="fa fa-clipboard" data-action="copy-url" data-tooltip="Copy to clipboard" data-tooltip-direction="s"></i>
						</div>
					</p>

					<p style="text-align: right;">
						{{> switchButton label="Private" dataAction="update-privacy" onOffMethod=isPrivateGame}}
					</p>

					<p style="text-align: right;">
						{{> switchButton label="Bonus" dataAction="update-has-bonuses" onOffMethod=hasBonusesGame}}
					</p>
				{{else}}
					<h1>Joining a game</h1>

					<p class="not-editable" style="text-align: right;">
						{{> switchButton label="Bonus" dataAction="update-has-bonuses" onOffMethod=hasBonusesGame}}
					</p>
				{{/if}}

				{{! Players list }}

				<div class="table-list constrained-table">
					<div class="table-list-row table-list-header">
						<div class="table-list-cell">Players</div>
						<div class="table-list-cell" style="flex: 0 0 75px;">Shape</div>
					</div>

					{{#each players}}
					<div class="table-list-row">
						<div class="table-list-cell">{{name}}</div>
						<div class="table-list-cell" style="flex: 0 0 75px;">
							{{#if isCurentPlayer}}
								{{> shapeSelector player=this shape=shape}}
							{{else}}
								<img src="/assets/player-{{shape}}-small.png" />
							{{/if}}
						</div>
					</div>
					{{/each}}
				</div>

				<br />

				{{! Buttons }}

				{{#if isHost}}

					{{#if hasEnoughPlayers}}

						{{#if allPlayersAreReady}}
							<a href="#" data-action="start" class="button">Start game</a>
						{{else}}
							<p>Waiting for all players to be ready...</p>
						{{/if}}

					{{else}}
						<p>Waiting for a player to join the game...</p>
					{{/if}}

				{{else}}

					<div class="game-client-buttons">
						{{#if canSetReadyOrLeave}}
							<a href="#" data-action="set-player-is-ready" class="button ready-button">Ready!</a>
							<a href="#" data-action="leave" class="button">Leave</a>
						{{/if}}

						{{#if canJoin}}
							<a href="#" data-action="join" class="button">Join</a>
						{{/if}}

						{{#if waitingForGameToStart}}
							<p>Waiting for the host to start the game...</p>
						{{/if}}

					</div>

				{{/if}}

			{{/if}}

		</div>

	</div>

</template>
