<template name="game">

	<div class="app-section app-section-center">

		<div class="app-section-inner">

			{{#if isPlaying}}

				{{#if isUserNotPlaying}}

					<p>The game has already started and you are not in it...</p>
					<p>Please start your own...</p>

				{{else}}

					<div class="game-container">

						{{! Names and Points }}

						<div class="players-container">
							<p class="players-names"><div>{{hostName}}</div><div>{{clientName}}</div></p>
							<p class="players-points">{{hostPoints}} | {{clientPoints}}</p>
						</div>

						{{! Phaser container }}

						<div id="gameContainer" class="page game"></div>

					</div>

				{{/if}}

			{{else}}

				{{! Share URL }}

				{{#if isHost}}
					<h1>Creating a game</h1>

					<p>Share this link with someone</p>
					<p>
						<div class="copyable-url-input">
							<input type="text" value="{{urlFor 'game' _id=game._id}}" readonly="readonly" name="url" />
							<i class="fa fa-clipboard" data-action="copy-url" data-tooltip="Copy to clipboard" data-tooltip-direction="s"></i>
						</div>
					</p>

					<p style="text-align: right; margin-top: 30px;">
						{{> switchButton label="Private" dataAction="update-privacy" onOffMethod=isPrivateGame}}
					</p>
				{{else}}
					<h1>Joining a game</h1>
				{{/if}}

				{{! Players list }}

				<div class="table-list">
					<div class="table-list-row table-list-header">
						<div class="table-list-cell">Players</div>
						<div class="table-list-cell" style="flex: 0 0 75px;">Shape</div>
					</div>

					{{#each players}}
					<div class="table-list-row">
						<div class="table-list-cell">{{name}}</div>
						<div class="table-list-cell" style="flex: 0 0 75px;">
							{{#if isCurentPlayer}}
								{{> shapeSelector player=this shape=shape}}
							{{else}}
								<img src="/assets/player-{{shape}}-small.png" />
							{{/if}}
						</div>
					</div>
					{{/each}}
				</div>

				<br />

				{{! Buttons }}

				{{#if isHost}}

					{{#if hasEnoughPlayers}}

						{{#if allPlayersAreReady}}
							<a href="#" data-action="start" class="button">Start game</a>
						{{else}}
							<p>Waiting for all players to be ready...</p>
						{{/if}}

					{{else}}
						<p>Waiting for a player to join the game...</p>
					{{/if}}

				{{else}}

					<div class="game-client-buttons">
						{{#if canSetReadyOrLeave}}
							<a href="#" data-action="set-player-is-ready" class="button ready-button">Ready!</a>
							<a href="#" data-action="leave" class="button">Leave</a>
						{{/if}}

						{{#if canJoin}}
							<a href="#" data-action="join" class="button">Join</a>
						{{/if}}

						{{#if waitingForGameToStart}}
							<p>Waiting for the host to start the game...</p>
						{{/if}}

					</div>

				{{/if}}

			{{/if}}

		</div>

	</div>

</template>
