/** Application color **/

$background-color: #c9c9c9;
$background-color-dark: darken($background-color, 5%);
$background-color-darker: darken($background-color, 12%);
$border-color: #e3e3e3;
$border-color-light: lighten($background-color, 7%);
$table-header-color: #9ad3de;
$input-border-width: 2px;
$text-color: invert($background-color);

$selectbox-background-color: #dedede;
$selectbox-background-color-hover: darken($selectbox-background-color, 5%);
$selectbox-background-color-selected: darken($selectbox-background-color, 10%);
$selectbox-background-color-selected-hover: darken($selectbox-background-color, 7.5%);

$positive: #34a034;
$negative: #c94141;

/** Header color **/

$header-background-color: #ffffff;
$header-text-color: darken($background-color, 40%);
$header-text-color-light: darken($background-color, 10%);
$header-border-color: $border-color;
$header-border-bottom-color: #89bdd3;
$header-logo-color: #3b7a95;

$host-color: #c94141;
$host-primary-color: darken($host-color, 10%);
$host-second-color: lighten($host-color, 10%);
$client-color: #3363a1;
$client-primary-color: darken($client-color, 10%);
$client-second-color: lighten($client-color, 10%);
