.view-selector {
	text-align: center;
	font-size: 22px;

	i {
		cursor: pointer;
		transition: opacity .2s ease-in-out;
		opacity: .25;

		& + & {
			margin-left: 10px;
		}

		&:hover {
			opacity: 1;
		}
	}
}

@mixin view-selector-shown($shown-class, $menu-class, $content-class) {
	.view-selector-contents {
		&.#{$shown-class} {
			.#{$menu-class} {
				opacity: 1;
			}

			.#{$content-class}:not(.swiper-slide) {
				display: block;
			}
		}
	}
}

.view-selector-contents {
	margin-bottom: 10px;

	.view-selector-content:not(.swiper-slide) {
		display: none;
	}
}

.swiper-slide {
	min-height: 250px;

	&:not(.swiper-slide-active) {
		max-height: 250px;
	}
}
