.view-selector {
	display: flex;
	justify-content: center;
	align-items: baseline;

	div {
		cursor: pointer;
		transition: opacity 0.25s ease-in-out;
		opacity: 0.25;
		display: flex;
		align-items: center;
		margin: 3px;

		&:hover {
			opacity: 1;
		}

		.fa {
			font-size: 22px;
		}

		.icomoon {
			font-size: 22px;
			margin-top: -4px;
		}

		span {
			font-size: 10px;
			margin-left: 5px;

			@include horizontal-breakpoint(tablet) {
				display: none;
			}
		}
	}
}

@mixin view-selector-shown($shown-class, $menu-class, $content-class) {
	.view-selector-contents {
		&.#{$shown-class} {
			.#{$menu-class} {
				opacity: 1;
			}

			.#{$content-class}:not(.swiper-slide) {
				display: block;
			}
		}
	}
}

.view-selector-contents {
	margin-bottom: 10px;

	.view-selector-content:not(.swiper-slide) {
		display: none;
	}
}

.swiper-slide {
	min-height: 250px;

	&:not(.swiper-slide-active) {
		max-height: 250px;
	}
}
